[2018-01-18 22:15] frangio opened #1 "Revisit licensing issues"
The solidity-antlr4 grammar is licensed [under GPL](https://github.com/solidityj/solidity-antlr4/blob/master/LICENSE). This may not enable solidity-docgen to be MIT licensed as it is now.

We'd need to look into it and see if the licensing is compatible, and otherwise change the project to GPL or reach out to @federicobond who offered to help work it out (https://github.com/OpenZeppelin/zeppelin-s

[2018-02-26 21:23] spalladino opened #3 "Rename npm package"
Before we got to publish this package, a project named [soldoc](https://github.com/dev-matan-tsuberi/soldoc) already came up.

Rename this project and publish it.

[2018-04-09 17:40] spalladino commented on #1
We are now using the solc compiler directly. Closing this issue.

[2018-04-09 17:40] #1 closed

[2018-04-10 13:28] spalladino commented on #3
Renamed to solidity-docgen

[2018-04-10 13:28] #3 closed

[2018-06-11 08:32] satyamakgec opened #5 "Not able to access the file outside of allowed directories"
I am using the command as in the README but getting the following error -

import "openzeppelin-solidity/contracts/math/SafeMath.sol";
^---------------------------------------------------------^
/Users/satyamagrawal/Repositories/polymath-core_v2/contracts/modules/TransferManager/ManualApprovalTransferManager.sol:4:1: Error: Source "openzeppelin-solidity/contracts/math/SafeMath.sol" not found: File

[2018-06-11 14:20] ealmansi commented on #5
Hi Satyam.

Could you please verify that you are using `solc` version v0.4.21 or newer?
Also, try out writing out the full path instead of the shortened version with `~`.
That is, writing `/Users/satyamagrawal/Repositories/polymath-core_v2` instead of `~/Repositories/polymath-core_v2`, and the same for all other paths in the command.

[2018-06-18 11:40] mariano-aguero commented on #5
Hi @satyamakgec , remove the npx form the command(its not necessary) and add full path, must be like this

[code]

[2018-06-19 08:48] satyamakgec commented on #5
Thanks @mariano-aguero It works.

[2018-06-19 08:48] #5 closed

[2018-06-28 00:49] robertmagier opened #6 "exec: unrecognised option '-type'"
Hi,

When I execute command

`solidity-docgen .\smartcontract\ .\smartcontract\contracts\ .\smartcontract\docs\
`

I get this error message

[code]

Repository I am trying to run it on is here:
[https://github.com/robertmagier/Viddo](https://github.com/robertmagier/Viddo)

Any ideas ? Thank you.

[2018-06-28 03:50] FriendlyUser commented on #6
I am running into the same problem on Windows, I think it has to do with windows because I got solidity-docgen working on OSX.

In addition, your project configuration shouldn't matter unless you are importing smart contract packages (openzeppelin contracts).

If you have a linux or mac, I highly recommend testing it on those systems.

[2018-07-02 22:45] robertmagier commented on #6
Unfortunately I don't have Linux or Mac. Just Windows. Somehow I can't get any documentation solidity generator running. Doxity also fails with truffle.

[2018-07-05 20:06] FriendlyUser commented on #6
@robertmagier, you could try using a tool like [solmd](https://www.npmjs.com/package/solmd) or [socs](https://www.npmjs.com/package/socs) to create markdown-based documentation per contract and then build with documentation generation tools such as [docusaurus](https://docusaurus.io/) or vuepress.

[2018-07-16 20:03] gmaijoe opened #7 "JSON Parse Error"
undefined:1

SyntaxError: Unexpected end of JSON input
    at JSON.parse (<anonymous>)
    at parseProject (/usr/local/lib/node_modules/solidity-docgen/lib/index.js:124:15)
    at exports.default (/usr/local/lib/node_modules/solidity-docgen/lib/index.js:20:23)
    at Command.program.version.arguments.option.action (/usr/local/lib/node_modules/solidity-docgen/bin/solidity-docgen:32:5)
    at Comman

[2018-07-26 18:13] #7 closed

[2018-07-27 11:08] maptuhec opened #8 "solidity-docgen: command not found"
I am trying to execute and create a solidity documentation. As I read from the Readme and when I execute this command:

`solidity-docgen /Users/martingrigorov/Work/Projects/LockChain/DApp /Users/martingrigorov/Work/Projects/LockChain/DApp/contracts /Users/martingrigorov/Work/Projects/LockChain/DApp/docs  `

It fails with the imports error. So I have modified and run the second command which should

[2018-07-27 19:49] maxpiasevoli opened #9 "Multiple import statements from outside modules"
I understand that if there's an import statement from a node module like openzeppelin-solidity, then you have to use:

SOLC_ARGS='openzeppelin-solidity=PATH_TO_OPENZEPPELIN_MOD'

in order for solidity-docgen to find the files, but what if there are import statements from two modules, like openzeppelin-solidity and zos-lib in a single smart contract? Is there a way to pass multiple args to SOLC_ARG

[2018-07-27 19:51] maxpiasevoli commented on #8
Remove the \ so that the command is

SOLC_ARGS='openzeppelin-solidity=/Users/martingrigorov/Work/Projects/LockChain/DApp/contracts/node_modules/openzeppelin-solidity' solidity-docgen /Users/martingrigorov/Work/Projects/LockChain/DApp /Users/martingrigorov/Work/Projects/LockChain/DApp/contracts /Users/martingrigorov/Work/Projects/LockChain/DApp/docs

[2018-07-27 23:01] aleybovich opened #10 "File outside of allowed directories"
I try to run this:

`SOLC_ARGS='openzeppelin-solidity=~/dev/path-protocol/node_modules/openzeppelin-solidity'   solidity-docgen ~/dev/path-protocol ~/dev/path-protocol/contracts ~/dev/path-protocol/docs`

and I get the following error:

`Error: Source "~/dev/path-protocol/node_modules/openzeppelin-solidity/contracts/token/ERC20/ERC20Basic.sol" not found: File outside of allowed directories.`

Any

[2018-07-28 09:30] aleybovich commented on #10
After trying various things I have solved this. Two things:
1. I use an absolute path instead of `~`
2. `docs` and `website` docusaurus folders were installed in the root of my project, so I had to put the root path instead of `root/docs`.

[2018-07-28 09:30] #10 closed

[2018-07-28 10:24] aleybovich opened #11 "Any way to exclude contracts from generation, not just docusaurus?"
If I specify `--exclude` then those contracts don't show in docusaurus, but are still generated. Is there a reason why they can't be also excluded from generation?

[2018-07-30 07:43] maptuhec commented on #8
I tried to remove the \, and when I do again the imports fail.

Any other thoughts ?

[2018-09-12 19:06] ismaelbej commented on #6
It is using a sub shell to collect the *.sol files in that will fail on windows https://github.com/OpenZeppelin/solidity-docgen/blob/f665fd4dae98924f7a0e3154da34327baa1b7b2f/lib/index.js#L122

[2018-09-17 14:42] maptuhec commented on #8
Hey Guys, any update on this issue?

[2018-09-17 19:55] frangio commented on #8
@maptuhec Try setting the `SOLC_ARGS` variable before executing the command, running `export SOLC_ARGS=...`.

[2018-09-27 08:03] maptuhec commented on #8
hey @frangio I have tried to set SOLC_ARGS and I managed to do it, but after the I run only the
`solidity-docgen /Users/martingrigorov/Work/Projects/LockChain/DApp /Users/martingrigorov/Work/Projects/LockChain/DApp/contracts /Users/martingrigorov/Work/Projects/LockChain/DApp/docs`

and again the imports are failing

[2018-09-27 16:00] frangio commented on #8
@maptuhec Please show me the full list of commands that you're running so I can offer better help.

[2018-09-28 07:05] maptuhec commented on #8
@frangio I have tried with the following commands:
`SOLC_ARGS='openzeppelin-solidity=/Users/martingrigorov/Work/Projects/LockChain/DApp/contracts/node_modules/openzeppelin-solidity' \ solidity-docgen /Users/martingrigorov/Work/Projects/LockChain/DApp /Users/martingrigorov/Work/Projects/LockChain/DApp/contracts /Users/martingrigorov/Work/Projects/LockChain/DApp/docs`

With this commands the error t

[2018-09-28 17:30] frangio commented on #8
It's important that you `export` this variable so that running programs inherit the variable. Write `expor SOLC_ARGS=...`.

[2018-10-02 13:58] maptuhec commented on #8
@frangio Sorry mistake in copying the commands I actually do
`export SOLC_ARGS='openzeppelin-solidity=/Users/martingrigorov/Work/Projects/LockChain/DApp/contracts/node_modules/openzeppelin-solidity'`

and then the echo command shows the right path to the variable

`echo $SOLC_ARGS` shows :
`openzeppelin-solidity=/Users/martingrigorov/Work/Projects/LockChain/DApp/contracts/node_modules/openzeppelin

[2018-10-08 06:41] satyamakgec opened #12 "Error: Command line operation failed with code 1."
I am trying to generate the docs using the solidity-docgen. Earlier it was working fine but suddenly it is behaving very weird.
getting this error

 at handleErrorCode (/usr/local/lib/node_modules/solidity-docgen/lib/index.js:133:11)
    at parseProject (/usr/local/lib/node_modules/solidity-docgen/lib/index.js:123:3)
    at exports.default (/usr/local/lib/node_modules/solidity-docgen/lib/index.js:

[2018-10-09 10:05] spalladino commented on #12
@satyamakgec the error seems to be happenning as part of `parseProject`, which invokes the solidity compiler. Make sure you have a working version of solc (with version greater than 0.4.21), and that your set of contracts do compile ok.

I'm afraid that info on errors is not very clear atm.

[2018-10-09 10:13] satyamakgec commented on #12
@spalladino Thanks for the prompt answer. Yes, I do have the solc version greater than the 0.4.21. My version is 0.4.24.
My contracts are compiling ok but some of the warnings occurred because of compiler version My contract suite have the `oraclize.sol` which was built on `0.4.18` solc version. But in a whole I am using 0.4.24 solc compiler.
is oraclize.sol will be the cause of the failure? I tri

[2018-10-09 15:33] satyamakgec commented on #12
Yes sure @spalladino. Thanks!

[2018-10-15 04:46] mesqueeb opened #13 "Please, add solc to path"
I did
[code]
And got:

    ^

I'm not sure what they mean with **"add to path"**.

[2018-10-15 04:53] mesqueeb commented on #13
After this I've also tried
[code]
But same error.

[2018-10-31 16:27] ganeshdipdumbare opened #14 "Not able to access contract from other directory"
I am trying to run following command -
solidity-docgen . ./contracts ./docs
**Dir:**  /home/ganeshdip/KCS/tryImport/dir1
**contract:** MyContract1.sol in which I am importing MyContract2.sol
**Location of contract MyContract1:**  /home/ganeshdip/KCS/tryImport/dir1/contracts
**Location of contract MyContract2:**  /home/ganeshdip/KCS/tryImport/dir2/contracts
I am getting following error-
[code]

Can

[2018-11-02 12:05] Aniket-Engg commented on #13
Make sure you have installed `solc` on your system.
Run `which solc` , you will get a path like this : `/usr/bin/solc`
Run, `export SOLC_PATH = /usr/bin/solc`
Now run the final command.

[2018-11-02 12:47] Aniket-Engg opened #15 "constructor is treated as fallback in documentaion"
In the solidity documentation, `constructor` is indexed and listed as `fallback`.

[2018-11-02 16:13] ealmansi commented on #15
Hi @Aniket-Engg , thanks for reporting this. Could you please share a minimal example where you get this result?

[2018-11-03 05:17] Aniket-Engg commented on #15
I wrote a token contract with this constructor:
[code]
And in the generated documentation, it was displayed as:
`<a href="https://ibb.co/dLTy50"><img src="https://thumb.ibb.co/dLTy50/soliditydoc.png" alt="soliditydoc" border="0"></a>`

[2018-11-13 06:17] Aniket-Engg commented on #15
@ealmansi Any updates on this?

[2018-11-16 09:35] sarbogast commented on #7
Did you end up finding a solution for this? Because I'm having the exact same issue right now.

[2018-11-17 04:55] Aniket-Engg commented on #14
Great! I think issue can be closed now. :blush:

[2018-11-17 04:55] Aniket-Engg commented on #13
@mesqueeb Have you got it worked?

[2018-11-17 06:09] mesqueeb commented on #13
Sorry i have this on my to do list. I will reply when i checked!!!

[2018-11-26 16:55] sohkai commented on #13
@spalladino would it be possible for this module to use `solcjs` instead of the native compiler? It could even be set as a peer dependency.

[2018-11-27 23:07] spalladino commented on #13
Hey Brett! That's a good idea, but I don't have the time to work on that now. Do you think you could send a PR? I'd be happy to review it!

[2018-11-29 16:45] maxsam4 commented on #13
@sohkai We were in the same dilema and as a quick alternative, I just modified our script to fetch the needed binary from gh and update paths. Relevant code snippet:
[code]
full code: https://github.com/PolymathNetwork/polymath-core/blob/docs-solc-fix/scripts/docs.sh

[2018-11-29 16:59] sohkai commented on #13
Cool @maxsam4! Partly the reason this came up was because I can't install solc on macOS14 ;).

@spalladino I likely won't have a lot time to take a look for a few weeks, but I'll take a peek and see if it's easily doable.

[2018-12-03 21:49] ealmansi commented on #13
@spalladino @sohkai

I originally intended to use [solcjs](https://github.com/ethereum/solc-js) instead of [solc](https://github.com/ethereum/solidity) since it would greatly simplify the installation process and usage for this project. However, the command-line interface for solcjs seems to be significantly more limited than the one provided by solc. After spending some time on it, I only managed

[2018-12-03 22:46] ealmansi commented on #15
I can reproduce the bug here.

This is happening since the Solidity compiler added the `constructor` keyword in version 0.4.22 ([changes](https://medium.com/@piyopiyo/how-to-write-constructor-in-solidity-version-0-4-22-and-above-dcb8c042974f)), which solidity-docgen cannot yet handle correctly. Up to 0.4.21, a function definition with an empty name was always a fallback function, but now construct

[2018-12-03 22:52] ealmansi commented on #11
No technical reason why they cannot be excluded from generation. The generateDocs functions would need to be updated.

[2018-12-20 12:53] terjanyan commented on #8
I have the same problem

[2019-02-27 16:38] ajsantander commented on #15
@frangio
We can reproduce the bug as well in the ZeppelinOS documentation: https://docs.zeppelinos.org/docs/upgradeability_AdminUpgradeabilityProxy.html#

If you click on fallback, the page jumps to a weird location. And, as stated above the fallback entry actually shows the constructor function of the contract.

[2019-02-28 11:51] touchkino commented on #13
It's working for me. I just added command (pwd).
`package.json`
[code]

[2019-04-06 17:16] madjarevicn opened #21 "undefined:390561, SyntaxError: Unexpected end of JSON input"
I'm trying to run solidity-docgen, where I have no changes from last run (successful one) under my code, and now, i tried a couple of times to run it, this is the message I get.

solidity-docgen ./ ./contracts ./documentation
undefined:390561

SyntaxError: Unexpected end of JSON input
    at JSON.parse (<anonymous>)
    at parseProject (/usr/local/lib/node_modules/solidity-docgen/lib/index.js:125:

[2019-04-06 17:17] madjarevicn commented on #21
I have already tried deleting build and re-compiling contracts, since this message is well known when one of .json builds are having typos..

[2019-04-19 10:58] 0x6431346e opened #22 "Windows support"
Would be great to get this working on windows:

[code]

The problematic line is: https://github.com/OpenZeppelin/solidity-docgen/blob/fc57890ff58ac434ddc6d5f54ab879c3b593772a/src/index.js#L113

[2019-04-22 22:58] frangio opened #23 "v0.2"
The first version of `solidity-docgen` (v0.1) was coupled to Docusaurus, inherited its quirks, and was very cumbersome to set up and use. Moreover, we don't think the format of the documentation generated was as useful as it could be.

The new version is decoupled from Docusaurus and can can be integrated in any website generation pipeline. It processes Solidity source files and produces Markdown

[2019-04-23 06:03] Aniket-Engg commented on #23
I think right side bar categorisation needs a bit better formatting. In most cases, it is divided in contracts, interfaces, utils, library etc and in some case ([crowdsale](https://openzeppelin-docs-next.netlify.com/api/crowdsale) one), bar is categorised in according to the use-case.

I think we should follow one pattern and in case we prefer solidity based abstract level categorisation, we also

[2019-04-25 15:40] frangio commented on #23
Great point @Aniket-Engg! `solidity-docgen` itself is agnostic to the categorization chosen. This should be fixed in the main repository. I've opened https://github.com/OpenZeppelin/openzeppelin-solidity/issues/1730 for it.

[2019-04-25 20:32] frangio commented on #22
Hey there. We've stopped maintaining v0.1 of `solidity-docgen`. Please check out #23 to learn about v0.2. It was a rewrite and `find` is not used anymore. If anyone finds issues on Windows please open a new issue.

[2019-04-25 20:32] #22 closed

[2019-04-25 20:34] frangio commented on #15
This is fixed in v0.2 (still in alpha). See #23 to learn more about it.

[2019-04-25 20:34] #15 closed

[2019-04-25 20:35] frangio commented on #6
Thanks for reporting @robertmagier! This is the same issue as #22. We've released v0.2 in alpha which fixes this issue. Please see #23 to learn more about the new version.

[2019-04-25 20:35] #6 closed

[2019-04-25 20:38] frangio opened #24 "Support projects with dependencies"
v0.3 doesn't work when a project has dependencies (e.g. if they use OpenZeppelin contracts). We could use [resolver-engine](https://github.com/Crypto-Punkers/resolver-engine) to tackle this.

[2019-04-25 20:40] frangio commented on #9
Assuming this was resolved with @aleybovich's suggestion above. Thank you both!

[2019-04-25 20:40] #9 closed

[2019-04-25 20:41] frangio commented on #11
v0.2 (still in alpha) has an option to ignore files and directories.

https://github.com/OpenZeppelin/solidity-docgen/blob/8108281826cad7a7e9f75314620b3581581266e8/src/cli.js#L20-L21

[2019-04-25 20:41] #11 closed

[2019-04-25 20:43] frangio commented on #13
The project was rewritten and it is now using solcjs no w. See v0.2 to learn about the new version, which is still in alpha.

It was brought up in #17 that solcjs doesn't work for all projects so we will probably support native solc as well in the future.

[2019-04-25 20:43] #13 closed

[2019-04-25 20:46] frangio opened #25 "Add option to use native solc"
v0.2 is using solcjs. As discussed in #17, though, solcjs does not work with sufficiently big projects.

We should also add support for native solc.

[2019-04-25 20:48] frangio commented on #8
Closing the issue as it does not apply to the new v0.2 version (still in alpha, see #23 for details).

[2019-04-25 20:48] #8 closed

[2019-04-25 20:50] frangio commented on #12
Thanks for reporting @satyamakgec! Closing this issue as it does not apply to v0.2 (still in alpha, see #23 for details).

[2019-04-25 20:50] #12 closed

[2019-04-25 20:53] frangio commented on #21
Hi @madjarevicn. Thanks for reporting!

I'm not really sure what could be causing this. :confused: Have you been able to fix it?

Unfortunately we've stopped maintaining this version of solidity-docgen. We're building a new version, you can see #23 to learn more about it.

[2019-06-05 19:59] adrake33 opened #28 "Generate docs directly from solc output file"
We tried to use solidity-docgen to generate docs for Augur, but we were encountering some errors and decided the quickest workaround to get it to work with our contract would be to directly import the solc JSON file instead of having solidity-docgen do the compiling. (I ended up creating a quick and dirty hack for this at https://github.com/AugurProject/solidity-docgen.)

It would be great if a si

[2019-06-05 20:41] pgebheim commented on #28
Thanks @adrake33

@frangio -- wonder how we can help here? Is the approach of giving an option to just read the solc output json from a file one that you think you'd wanna add to the project proper?

[2019-06-05 22:39] frangio commented on #28
I'm very happy to see that you guys were able to implement the feature, even if a quick and dirty hack! I'm sure you've also noticed that the code is a bit of a mess. :slightly_smiling_face: It desperately needs a refactor, but I haven't gotten around to it yet. I don't feel comfortable adding this feature before the rest of the codebase is improved at least a bit, because I can think of a few thi

[2019-06-05 23:56] pgebheim commented on #28
Our build process is boutique since we have sooo many contracts.

@adrake can post the error, but the simple impl of building all the *.sol files just failed.

Paul

________________________________
From: Francisco Giordano <notifications@github.com>
Sent: Wednesday, June 5, 2019 3:39:39 PM
To: OpenZeppelin/solidity-docgen
Cc: Paul Gebheim; Mention
Subject: Re: [OpenZeppelin/solidity-docgen] Gener

[2019-06-06 18:21] adrake33 commented on #28
The original error I was getting was

```     'Uncaught fatal error: /root/project/liblangutil/ErrorReporter.cpp(114): Throw in function bool langutil::ErrorReporter::checkForExcessiveErrors(Error::Type)\nDynamic exception type: boost::exception_detail::clone_impl<langutil::FatalError>\nstd::exception::what: std::exception\n',```

It wasn't entirely clear what was causing this, so I copied over so

[2019-06-16 20:57] collheesi opened #29 "Error installing package"
Hi!

I'm unable to install this package in my fork of `openzeppelin-solidity`. It works on my machine (Mac OS), but I can't make it work in our CI container.

The repro is as easy as:

[code]

The error I see is:

[code]

Here is the repository where everything is hosted: [rsksmart/openzeppelin-solidity](https://github.com/rsksmart/openzeppelin-solidity). The [Dockerfile](https://github.com/rsksma

[2019-06-17 19:49] frangio commented on #29
Looks very weird. I have no idea what's causing it. Have you tried with Node 10?

[2019-06-17 20:03] collheesi commented on #29
`node:10-alpine` failed, and `node:10` (debian) failed too:

[code]

[2019-06-17 20:11] collheesi commented on #29
By the way I just tried with the barebones OZ repo and it fails. Here's a one-liner to run my repro with the current `master` branch:

[code]

[2019-06-17 20:13] collheesi commented on #29
CC @SantiRSK

[2019-06-17 23:22] frangio commented on #29
The file it's not finding should be built in the `prepare` script when the git dependency is installed. This works correctly outside of Docker. As a workaround you could run `npm pack` in the solidity-docgen repo and install the tarball. This should work because the file will be built during packing.

[2019-06-18 04:25] SantiRSK commented on #29
thank you @frangio, we'll try that

[2019-06-18 11:48] barakman opened #30 "Support solc 0.4.x in solidity-docgen 0.2.0-alpha.1"
solidity-docgen 0.2.0-alpha.1 supports only contracts compiled under solc v0.5.x (i.e., starting with `pragma solidity ^0.5.0` or similar).

In order to extend this version of `solidity-docgen` to support earlier versions of `solc`, I believe that in file `compile.js` line 48:
[code]
You should determine which version of `solc` is used in the target project, and for an earlier version, replace `co

[2019-06-18 13:52] barakman opened #31 "Output file 'index.md' is in conflict with 'gitbook'"
Trying to take the output folder and pass it to [gitbook](https://www.npmjs.com/package/gitbook), file `index.md` generated by `solidity-docgen` yields a problem in the output of `gitbook`, which relies on a file with the same name as part of its output.

Subsequently, I can solve this by renaming your `index.md`, but you may want to consider naming it something different (like `main.md` or simila

[2019-06-18 15:24] barakman opened #32 "All function names in output of v0.2.0-alpha.1 are 'undefined'"
This is a bug in file `extract.js` function `getOwnFunctions`.

The `astNode` input seems to contain only a single value, hence in:
[code]
The value of `kind` is always `undefined`.

Subsequently, in:
[code]
The value of `actualName ` is always `undefined`.

Following [my previous issue](https://github.com/OpenZeppelin/solidity-docgen/issues/30), one can "hot-fix" this by adding the following line

[2019-06-18 16:52] collheesi commented on #29
@frangio I stumbled upon your own comment, so it seems you've faced some of these issues too: https://github.com/npm/npm/issues/17646#issuecomment-342596059

I tried different workarounds and it keeps failing, and I'm worried it might be an NPM bug where `prepare` is not called before the `linkBins` step.

I also asked @lsebrie to run this on his Linux machine (not docker!) and it **also fails**.

[2019-06-18 17:00] collheesi commented on #29
This looked promising but it doesn't work either: https://github.com/npm/npm/issues/17346

[2019-06-18 19:52] collheesi commented on #29
I made it compile!

[code]

The magic is this part, though I don't know why it's needed with this package specifically:

[code]

Thanks for your support!

[2019-06-18 19:52] #29 closed

[2019-06-18 20:05] frangio commented on #29
Huh, that's weird.

Glad you worked it out. I'll keep an eye out and see if I run into it again.

Without the `USER node` directive, do things run as root inside the container?

[2019-06-18 21:21] collheesi commented on #29
Exactly. I'll keep an eye too, thanks!

What's weird:
1. The error was different with `npm ci --production`, it said `prepare cannot run in wd`, which pointed me in the direction of https://github.com/npm/npm/issues/17346
1. @lsebrie wasn't running as `root` anyway

[2019-06-18 23:27] frangio commented on #31
Thanks for reporting @barakman!

Can you confirm that you meant "output" here, and not input? In that case, have you considered setting the output directory of solidity-docgen to a different directory?

[2019-06-19 04:16] barakman commented on #31
@frangio:

Sorry, I indeed meant "input".

When I run gitbook, it creates everything under a folder named `_book`.

Inside this folder, it creates a folder named `docs` (unrelated to the fact that you also create such folder by default, and these two folders are located in different places anyway).

Then it takes all the files which are specified in `SUMMARY.md`, copies them into `_book/docs`, and

[2019-06-19 12:18] barakman opened #33 "Output of v0.2.0-alpha.1 is in ambiguous format"
v0.2.0-alpha.1 generates a bunch of `md` files (i.e., `md` extension in the name of each file).

However, the contents of each file seems to be in `html` format, while the original `md` data is now embedded into the `html` tags, for example:
[code]
This seems to defeat the purpose of providing `md` output.

For example, I cannot use these file for my GitHub documentation.

Would it be possible to

[2019-06-19 12:26] barakman opened #34 "v0.2.0-alpha.1 parses only `dev` tags"
The only tag parsed by v0.2.0-alpha.1 is the `dev` tag, in file `extract.js` line 185:
[code]
Are there any plans to extend this any time soon to support the other tags, such as `title`, `param`, `return` and `notice`?

Most important is the `param` tag. In v0.1.1, this tag is supported in file `document.js`, in functions `EventDetails`, `ModifierDetails` and `FunctionDetails`.

In case you are no

[2019-06-22 16:48] frangio commented on #31
Thanks for such a detailed explanation!

So if I understand correctly the problem is that the link in gitbook's table of contents does not work because gitbook omits the file name in the href.

This is actually pretty standard behavior, and it's why I named the file `index.md` in the first place.

Have you confirmed that the link doesn't work when the site is published? I can see how the link woul

[2019-06-22 16:50] frangio commented on #32
Hm, I have a suspicion that this may be due to different output of solc 0.4. I'll look into this and report back.

[2019-06-22 17:51] barakman commented on #31
@frangio:

You're right. I've only checked this when viewed on my local machine (i.e., via the file system).

It did not occur to me that it might work differently when served, so I feel kinda stupid for bringing this up.

I'll give it a go on a Python server running on localhost, but I'm pretty confident that you're right, and that this file should not be renamed.

Thank you very much for your he

[2019-06-22 18:00] barakman commented on #32
@frangio:

Thanks.

So it is indeed worth mentioning that prior to this fix, I changed `_solc.default.compile` to `_solc.default.compileStandard` in order to support Solc v0.4.x.

This change is described in [a previous issue that I have posted](https://github.com/OpenZeppelin/solidity-docgen/issues/30) (which happens to be the same one that I have linked above, though I linked it there for a diff

[2019-06-22 18:28] #31 closed

[2019-06-22 18:37] frangio commented on #34
Some discussion in the [community forum](https://forum.zeppelin.solutions/t/solidity-docgen-v0-2-0-alpha-1-parses-only-dev-tags/895).

Summing up: we're interested in supporting `@param` and `@return` as well.

[2019-06-28 18:41] frangio commented on #30
Fixed in https://github.com/OpenZeppelin/solidity-docgen/commit/83880bb9d9bf8ecb86a9948290b509aa32b9c1f8.

It only works with solc >= 0.4.24, though.

[2019-06-28 18:41] #30 closed

[2019-06-28 18:42] frangio commented on #34
Fixed in https://github.com/OpenZeppelin/solidity-docgen/commit/3479ef4c6f8a024cc2450e39d27091f2a4a5ea13.

[2019-06-28 18:42] frangio commented on #32
Fixed in https://github.com/OpenZeppelin/solidity-docgen/commit/3479ef4c6f8a024cc2450e39d27091f2a4a5ea13.

[2019-06-28 18:42] #32 closed

[2019-06-28 18:56] frangio commented on #28
Hey guys, I am working on a refactor/rewrite in the [`refactor`](https://github.com/OpenZeppelin/solidity-docgen/tree/refactor) branch. It is much more robust.

I would like to fix your issue. What is the repository with the contracts you want to generate docs for?

[2019-06-28 22:02] pgebheim commented on #28
Our contracts are in

https://github.com/AugurProject/augur/tree/master/packages/augur-core/src/contracts (https://link.getmailspring.com/link/8846FAE9-60DF-4B74-ABEF-70FB064ABC23@getmailspring.com/0?redirect=https%3A%2F%2Fgithub.com%2FAugurProject%2Faugur%2Ftree%2Fmaster%2Fpackages%2Faugur-core%2Fsrc%2Fcontracts&recipient=cmVwbHkrQUFBVTc2U1BCTFhHTVU2V0pTNVg1S0YzRU9LVVJFVkJOSEhCVjYzMlNFQHJlcGx5Lmd

[2019-07-22 14:27] rosulucian opened #37 "html ouputs"
Do the html outputs work?

I managed to eventually run the tool with the `--solc-module="node_modules\solc"` but the only output i get is md files and I could not find a way of generating html

[2019-07-22 14:38] frangio commented on #37
Hey there. The recommended usage is to render markdown that you can then deploy as an HTML site using a site generator like Jekyll. Are you familiar with site generators?

Regardless, if you would like to render as HTML you can do this by defining a custom Handlebars template and using the `--templates` CLI flag.

[2019-07-22 17:41] barakman opened #38 "No line breaks"
For non-bullet lines, the MD (MarkDown) standard dictates that in order to create a line break between two lines, they must be separated by an empty line.

In other words, and MD-rendering application merges every two consecutive lines which are not separated by at least one empty line.

Naturally, we don't add empty lines when we write documentation in our code (in Solidity, such paragraphs would

[2019-07-23 18:34] frangio commented on #38
Is there a reason why you wouldn't want to add empty lines? That's what we're doing in OpenZeppelin.

See [this comment](https://github.com/OpenZeppelin/openzeppelin-contracts/blob/2187fae1546141b40a1222d6b06420218ed9ea47/contracts/token/ERC721/ERC721.sol#L269-L272) in for example, reproduced below.

[code]

[2019-07-23 18:43] barakman commented on #38
@frangio:
Yes, because in a well-documented contract, it would yield a lot of empty lines.
In addition to that, I don't think that one should document their code according to MD rules.
Thanks in any case :)

[2019-07-23 21:07] frangio commented on #38
Definitely, though I really don't see how this is a problem.

We want this tool to be agnostic to the format of the documentation strings. Could be Markdown, or AsciiDoc, or whatever. So I wouldn't want to do any specific processing of the text.

[2019-07-23 21:07] #38 closed

[2019-07-24 07:32] rosulucian commented on #37
Hey, thanks. I have not used Jekyll before and the docs where limited for docgen and I didnt know how to use it.

[2019-07-24 07:32] #37 closed

[2019-08-07 15:22] tsudmi commented on #24
Are there any updates on that?

[2019-08-13 09:33] maxrobot opened #40 "File import callback not supported"
Hi all, I am trying to use `0.3.0-beta.3` to generate my solidity docs. I am importing a contract from a node_module as a dependency.

Running the tool as in the readme I see the error:
[code]

Taking a look through the issues it seems that the Asset token could be passed as a solc arg, i.e. prepending the path as below:
[code]

Unfortunately I have the same error.

[2019-08-15 08:53] Luiserebii commented on #40
I'm facing this issue as well:
[code]

[2019-08-18 17:12] barakman opened #41 "Empty lines are undesirably removed"
Example input file: [BancorConverter.sol](https://github.com/bancorprotocol/contracts/blob/master/solidity/contracts/converter/BancorConverter.sol).

Example output file: [BancorConverter.md](https://github.com/bancorprotocol/contracts/blob/master/solidity/docgen/docs/converter/BancorConverter.md).

As you can see, at the top of the input file, under the first `@dev` tag (i.e., at the contract-lev

[2019-08-18 17:22] barakman opened #42 "Indentation of second-level bullets is undesirably removed"
Example input file: [BancorConverter.sol](https://github.com/bancorprotocol/contracts/blob/master/solidity/contracts/converter/BancorConverter.sol).

Example output file: [BancorConverter.md](https://github.com/bancorprotocol/contracts/blob/master/solidity/docgen/docs/converter/BancorConverter.md).

As you can see, at the top of the input file, under `Open issues:` there is a single bullet which i

[2019-08-28 11:33] barakman opened #43 "Documentation of global variables"
As you know, the compiler implicitly creates a getter function for each global variable which is declared `public`.

Ideally, I'd like each one of these getter functions added to solidity-docgen's output (provided that I document them of course).

I assume that it might be a little difficult to actually display them as functions, because the solidity-parser (AST builder) adds them to the tree as v

[2019-08-30 16:22] frangio commented on #24
Contributions are welcome to add resolver-engine to the compilation code!

[2019-08-30 16:22] frangio commented on #40
@maxrobot @Luiserebii Sorry for the inconvenience. This is part of #24, and hasn't been implemented yet.

[2019-08-30 16:22] #40 closed

[2019-08-30 16:53] frangio commented on #41
solc's handling of newlines in natspec comments is broken. I've had to patch a few things to get the output that the user intended, but in this specific case there's nothing we can do because solc collapse newlines and we don't know how many there were originally.

Adding leading asterisks does result in keeping the multiple newlines and is what you should do in the linked file:

[code]

[2019-08-30 16:53] #41 closed

[2019-08-30 16:58] frangio commented on #42
This is caused by the following line:

https://github.com/OpenZeppelin/solidity-docgen/blob/4f9aa2d6ce5a75349fdf72b97f7d3e1ea21cf109/src/solidity.ts#L302

The regexp matches an asterisk followed by any number of spaces or tabs, and removes that. Perhaps it should only match a single space after the asterisk.

[2019-08-30 16:59] frangio commented on #43
Thanks for the suggestion! Agree that we need to support this. Feel free to submit a pull request with these changes.

[2019-08-30 20:25] barakman commented on #41
@frangio:
Thank you.
Your description about solc's handling of newlines in natspec comments being broken, is sufficiently convincing (as a reason for why `solidity-docgen` cannot resolve this specific problem).

More importantly, your suggestion for filling a column of asterisks does resolve the problem!
BTW, it also resolves the problem of bullets indentation, which I believe I have mentioned in

[2019-09-01 07:58] barakman commented on #42
The suggestion given [here](https://github.com/OpenZeppelin/solidity-docgen/issues/41#issuecomment-526672762) solves this problem.

[2019-09-25 10:47] terjo commented on #40
I'm facing this issue as well:
Is there any updates ?

[2019-10-01 16:09] frangio commented on #40
@terjo It's not import callbacks but you can probably achieve what you want using the new option `--solc-settings` (#45), by using solc's remappings. Something like the following might work:

[code]

[2019-10-02 20:50] frangio commented on #23
Closing this as this version has matured quite a bit by now.

[2019-10-02 20:50] #23 closed

[2019-10-02 20:52] frangio commented on #34
Fixed in https://github.com/OpenZeppelin/solidity-docgen/commit/a07a46b9c2725500a7d93a603c23599adf77716f.

[2019-10-02 20:52] #34 closed

[2019-10-02 20:53] frangio commented on #33
The markdown files output by default now no longer have HTML in them. Moreover the output is now fully customizable.

[2019-10-02 20:53] #33 closed

[2019-10-07 23:50] frangio opened #56 "Increase coverage"
~Our test coverage is currently very low.~ No more!

[![codecov](https://codecov.io/gh/OpenZeppelin/solidity-docgen/branch/master/graph/badge.svg)](https://codecov.io/gh/OpenZeppelin/solidity-docgen)

Help us increase it by adding tests!

#### Milestones

- [x] 40%
- [x] 50%
- [x] 60%
- [x] 70%
- [x] 80%
- [ ] 90%

[2019-10-29 15:57] mrice32 opened #70 "Tagged, multiline comments are parsed incorrectly by regex"
If you have a multiline comment over a function like this:
[code]

The userdoc string ends up being:
[code]

And the devdoc text is (correctly):
[code]

It seems like the untagged regex is picking up tagged text that wraps to other lines.

[2019-10-29 16:46] mrice32 opened #71 "Array types cause breakage in asciidoc output"
Array types leave an unescaped close bracket in the asciidoc output - see the OZ documentation for an example of [this breakage](https://docs.openzeppelin.com/contracts/2.x/api/token/erc777#IERC777-defaultOperators--). Not sure if you have a preferred solution, but one way to fix it is to add a handlebars helper to escape the close bracket and allow template authors to call it whenever outputting

[2019-10-29 17:25] #70 closed

[2019-10-29 22:14] frangio commented on #21
Closing as stale.

[2019-10-29 22:14] #21 closed

[2019-10-29 22:18] frangio commented on #42
I don't think it will be possible to implement a fix for this without breaking the parsing of doc comments where every line is prefixed with an asterisk.

[2019-10-29 22:18] #42 closed

[2019-10-30 10:02] barakman opened #72 "Version 0.3.5 fails as a result of upgrading `globby` version from 9.2.0 to 10.0.1"

[2019-10-30 10:03] #72 closed

[2019-10-30 10:09] barakman opened #73 "Version 0.3.5 fails as a result of upgrading 'globby' from v9.2.0 to v10.0.1"
Specifically, at file [compile.ts](https://github.com/OpenZeppelin/solidity-docgen/blob/master/src/compile.ts), the following line:
[code]
Which is translated in file compile.js to:
[code]
The output `files` is an empty array.

I believe that this is due to breaking changes in the `globby` package, between v9.2.0 and v10.0.0.

See https://github.com/sindresorhus/globby/releases/tag/v10.0.0.

Thank

[2019-10-30 16:23] frangio commented on #73
Hi @barakman, thanks for reporting. We're not seeing this error in OpenZeppelin's docs. I've also cloned [bancorprotocol/contracts](https://github.com/bancorprotocol/contracts) and updated `solidity-docgen` to `0.3.5` and it seems to pick up all contracts, I didn't get an empty `files` array.

Can you share steps to reproduce the issue?

[2019-10-30 17:07] barakman commented on #73
@frangio: Hi, thank you for the quick response.

Command line:
[code]
Printout:
[code]
Thanks

[2019-10-30 17:55] barakman commented on #73
The `master` branch or the `0.5.4` branch - same results.

But have you made sure to update in file `package.json` from 0.3.4 to 0.3.5?

[2019-10-30 18:00] frangio commented on #73
Yes, by running `npm install solidity-docgen@0.3.5`.

[2019-10-30 18:28] barakman commented on #73
Well, that's awfully strange, on my side it clearly fails.

The differences between us, I would imagine, are node/npm versions, globally installed packages (I only have `windows-build-tools` on my platform), and perhaps the OS itself (I'm on Windows 10).

My versions are:
- node version 10.16.0
- npm version 6.9.0

But I sincerely doubt that it is either one of the above, because the process compl

[2019-10-30 18:37] barakman commented on #73
In addition to that, I was able to deterministically track it down to the line:
[code]
In file `compile.js`.

And I have verified that the following inputs to this line are identical for both 0.3.4 and 0.3.5:
- `path_1.default.join(directory, '**/*.sol')`
- `ignore.map(i => path_1.default.join(i, '**/*'))`

The difference was in the output of that line, which is an array of file names in 0.3.4, an

[2019-10-30 18:44] frangio commented on #73
It must be the difference in OS. I would roll back this update but I feel like we should get to the bottom of the issue and fix it instead.

I don't see anything in the list of `globby` or `fast-glob` breaking changes that could be affecting this. Do you see anything that could be related?

Can you try manually running `globby` yourself in a Node console using the same inputs that docgen is using?

[2019-10-30 19:52] barakman commented on #73
Version 0.3.4 1st input: `solidity\contracts\**\*.sol`
Version 0.3.5 1st input: `solidity\contracts\**\*.sol`

Version 0.3.4 2nd input: `{ ignore: [] }`
Version 0.3.5 2nd input: `{ ignore: [] }`

Version 0.3.4 output: an array of file names
Version 0.3.5 output: `[]`

If your OS-conjecture is true, then it might be worth noting that in version 0.3.4 output, all file names are given with normal (fo

[2019-10-30 20:00] frangio commented on #73
Right. One of the breaking changes in `fast-glob` says:

Can you try replacing `path_1.default` with `path_1.posix` here:

[code]

So it would become:

[code]

Taken from [Windows vs POSIX in Node.js `path`](https://nodejs.org/api/path.html#path_windows_vs_posix).

[2019-10-30 20:01] barakman commented on #73
Good catch! One sec...

[2019-10-30 20:10] frangio commented on #73
`path` is one of the default Node.js modules. I may have given wrong instructions because that's TypeScript compiled code.

If you run `require('path').posix.join('a', 'b')` in a Node.js console it should return `'a/b'`.

[2019-10-30 20:12] barakman commented on #73
Yeah, I just realized that (see updated comment above).

In file `compile.js` I see:
[code]

Would that yield the exact same effect as what you've just suggested?

[2019-10-30 20:13] barakman commented on #73
Ahh, it won't. The `__importDefault` makes the difference (I'm guessing by this symbol's name).

[2019-10-30 20:17] frangio commented on #73
Awesome, I'll publish a fix in a bit. However, I'll publish 0.3.7. Hopefully there won't be any surprises for you in the 0.3.7 update. (0.3.6 was skipped.)

[2019-10-30 20:26] barakman commented on #73
@frangio:
OK, I'll wait for 0.3.8.
Thanks again for your help :)

[2019-10-30 22:49] frangio commented on #73
Fixed in https://github.com/OpenZeppelin/solidity-docgen/commit/6fae9f1b2c335f91c1ac7ba81042c1ebe36bbadf and released in 0.3.8!

[2019-10-30 22:49] #73 closed

[2019-10-31 06:03] barakman opened #75 "Version 0.3.8 stuck (runs forever)"
Specifically, in file `docgen.js`, the following line never returns:
[code]
More specifically, the following part of the line above never returns:
[code]
Tested environment:
- Windows 10
- node 10.16.0
- npm 6.9.0

[2019-10-31 08:23] barakman commented on #75
Update:

This problem can be tracked down to file `sitemap.js`, in the following line:
[code]
It appears that any attempt to refer to `c.linkable` halts the execution.

I tried `console.log(Object.keys(c));` and got `[ 'source', 'file', 'astNode' ]`.

Do `c.linkable` should be `undefined` as far as my understanding of Javascript goes.

I tried `console.log(c.linkable);` and even `console.log(typeo

[2019-10-31 09:59] barakman commented on #75
**Update 2:**

OK, I get it, `linkable` is not an object attribute, but a getter function (in `class SolidityContract`).

The "freeze" occurs on any attempt to refer to `this.functions`.

[2019-10-31 14:06] frangio commented on #75
Thanks again for reporting this with so much detail! And thanks for the patience. :pray:

I can reproduce the issue, I'll look into it.

[2019-10-31 15:12] frangio commented on #75
This bug was introduced in https://github.com/OpenZeppelin/solidity-docgen/commit/031c9a09130978ce66c2361a1ef21e0e9beb9767 because a RegExp was changed in a way that made it also match the empty string, which made looping over matches an infinit loop. Fixed in https://github.com/OpenZeppelin/solidity-docgen/commit/39c9e9b51eb049b6e222a961740147b4bbde692a and released as 0.3.9.

I don't understand

[2019-10-31 15:12] #75 closed

[2019-10-31 15:56] barakman opened #76 "Version 0.3.9 omits the constructor when natspec is not provided"
Here is the relevant part in my template (HBS) file:
[code]
Prior to v0.3.9, every function which is not preceded by natspec, appears in the output.
In v0.3.9, every constructor which is not preceded by natspec, is omitted from the output.

I find this inconsistent.
IMO, either keep **all** functions with no natspec, or remove **all** functions with no natspec.
Preferably keep them, because I'd st

[2019-10-31 21:15] frangio commented on #76
Yes, this change was by design. The thing is, all Solidity contracts implicitly have a constructor without arguments. `solidity-docgen` used to include a constructor in its output if it was explicit in the source file, but I think this behavior was misleading. There isn't necessarily anything special about an explicit constructor. It _may_ have special behavior, but from the point of view of the c

[2019-11-01 06:11] barakman commented on #76
Hmmm...
Actually it makes perfect sense - a constructor which takes no argument should be of no interest for the user (unless, for some reason, I've chosen to document it explicitly).
It is just like the default constructor added implicitly by the compiler (which is not added to the documentation, just like you said).
OK, thank you for clearing that out with a logical reasoning :)

[2019-11-01 06:11] #76 closed

[2019-11-01 14:43] frangio commented on #76
Glad we agree on that!

[2019-11-06 21:59] frangio commented on #43
Fixed in #44.

[2019-11-06 21:59] #43 closed

[2019-11-09 00:16] mrice32 commented on #71
Yup, we're using asciidoc for our site! We've taken advantage of a lot of your tooling - it's been super helpful.

Totally agree that a deeper solution that sanitizes the types would be preferable. We implemented the solution I presented above in our fork as a quick workaround to avoid having to dig deeper into the codebase.

[2019-11-11 19:39] sergorl opened #83 "why docgen doesn't produce text inside doc comments?"
I have the contract below:
[code]
Command ```solidity-docgen [ -i <input-dir> ] [ -o <output-dir> ] ``` gives me .md file, but I don't see the doc comments? Why It doesn't happen?

[2019-11-11 19:44] frangio commented on #83
Hi @sergorl, thank you for reporting. Let me look into it.

[2019-11-11 20:15] frangio commented on #83
There was an error in the NatSpec parsing code. Fixed in 008ca8a and released as 0.3.12.

Thanks! Let me know if you run into any other issues.

[2019-11-11 20:15] #83 closed

[2019-11-12 13:56] frangio opened #85 "Allow single file as input"
The current CLI assumes that the `--input` option is a directory. We should allow a file as well.

[2019-11-13 08:53] sergorl opened #86 "Generate doc for one contract"
Right now, in my case I need to generate doc for only one certain contract from folder with many other contracts. Is it possible to generate `doc.md` for `onecontract.sol`?

[2019-11-13 12:40] sergorl opened #87 "Guide for templates based on specified requirements"
I need to generate docs for contracts with next requirements:
1. All documented methods from base class should be inside derived class.
2. All methods with keyword `internal` and `private` shouldn't be inside generated docs
3. Function modifiers shouldn't be inside docs.

Is it possible? Should I use option `-t templates_dir`? Where can I find the guide of designing templates

[2019-11-13 18:22] frangio commented on #86
It's currently not possible, but it should be. I recently opened https://github.com/OpenZeppelin/solidity-docgen/issues/85 for it. Closing this in favor of that one.

[2019-11-13 18:22] #86 closed

[2019-11-13 18:28] frangio commented on #87
Hi @sergorl! Thanks for asking. I haven't been able to write a guide yet, so the best I can offer is my help.

You should definitely use the `-t` option, and its argument should be a path to a directory where you will place the template called `contract.hbs`.

You can do all of these things in your template. You have several options, perhaps the easiest way is to use the `functions` and `events` a

[2019-11-13 18:29] frangio commented on #87
Unfortunately there is no reference document with the available fields you can use in your template, but you will find them all in [this source file](https://github.com/OpenZeppelin/solidity-docgen/blob/b0fc871d6de8c915eaffec390f61f8347675edb1/src/solidity.ts).

If you need more help just let me know.

[2019-11-23 10:54] msacco22 commented on #37
Hi @frangio - you mind explaining briefly how to obtain HTML files just using the --templates CLI flag? I'm updating the contract.hbs file but still, the output is a .md markdown file. Thankyou!

[2019-11-28 15:57] frangio commented on #37
@msacco22 Sure, sorry for the delay! If you do have an HTML template, I think what you're missing is using the `--extension`/`-x` option, because it has a default of `md`. So `-x html` will give you an html extension. Additionally, I think you will want to use the `--contract-pages` flag, to render one file per contract.

As for the template, here's an example in case anyone is looking for that:

[2019-12-09 16:02] tnguyen42 opened #105 ""zsh: command not found: solidity-docgen""
Hi,

All I did was `npm install solidity-docgen` followed by `solidity-docgen`, and I got the following error:
[code]

I've searched the issues and StackOverflow, but haven't been able to find the reason... I also resetted my terminal, just in case. It didn't help...
Does anyone have an idea of the reason, or has been able to reproduce the issue?

Thanks!

[2019-12-09 16:37] tnguyen42 commented on #105
For some reason, `solidity-docgen` failed to work but `npx solidity-docgen` made it.
Just in case this is truly an issue, I won't close it, but feel free to do so!

[2019-12-09 18:27] frangio commented on #105
Hi @tnguyen42! This is standard behavior of npm for local installs. The executable is installed in `node_modules/.bin` and you should use `npx` to run the command.

[2019-12-09 18:27] #105 closed

[2020-01-20 22:04] frangio opened #131 "Defining arbitrary attributes on items"
I would like to be able to define arbitrary attributes as part of a natspec comment that would be parsed and made available to the handlebars templates.

Potential syntax:

[code]

See https://github.com/OpenZeppelin/openzeppelin-contracts/issues/2054 for the original usecase.

[2020-01-23 01:02] nichanank opened #132 "Unable to generate documents due to Handlebars error "Access has been denied to resolve the property...""
Installed solidity-docgen version 0.3.13
Upon doing `npx solidity-docgen` I get the following error message:
[code]

The `docs` directory does get created however it doesn't document any of the functions, the contents of `index.md` that is produced is
[code]

Node v11.1.0
npm v6.4.1

[2020-01-23 22:20] nventuro opened #133 "Add support for Solidity 0.6 syntax"
The current release crashes when compiling 0.6 code. I suspect we'll also need to account for the new 'fallback' functions (`receive` and `fallback`) and the `virtual` attribute.

[2020-01-24 10:45] 7-of-9 commented on #132
Also seeing this.

@nichanank - did you manage to resolve?

[2020-01-24 21:41] nknapp commented on #132
The easiest way yo solve this problem would be

* return a wrapped version of the compiled template in "handlebars.ts", that
* passes the runtime options, "allowProtoPropertiesByDefault" and "allowProtoMethodsByDefault" to the template function.

**please keep in mind that it is then possible to write templates that crash the process that runs handlebars.** I don't know if this is a relevant secur

[2020-01-25 07:48] 7-of-9 commented on #132
Hi @nknapp - thanks for the input. Is this something that can be done by a user of solidity-docgen, or if I understand rightly, this suggested fix involves code changes to solidity-docgen?

Obviously, it's completely blocking.

[2020-01-25 09:51] nknapp commented on #132
No, as a user the only thing you can currently do is to pin the handlebars version down to 4.5.3

This is possible with yarn's resolutions feature. I'm not sure about npm.

[2020-01-28 18:54] jjanczur commented on #132
I've got the same issue.

I've tested it with:
node v8.16.2 (and v10)
npm 6.4.1

I've downgraded handlebars but it didn't help.

Of course I've tried `solidity-docgen -i ./contracts -o ./docs`

[2020-01-29 02:39] nichanank commented on #132
Extremely hacky, but my temporary workaround was to modify the code in my local `node_modules` with suggested the changes in #134. This successfully populated my `docs/index.md`  with some issues of weird formatting and broken links.

[2020-02-03 18:35] frangio commented on #133
It crashes because it depends on the 0.5 compiler directly.

My suggestion is that we release a new minor version updating that dependency to 0.6 and stop supporting 0.5. Ideally in the future we would have a way to delegate compilation to whatever environment the user is in. But supporting multiple version is potentially complicated so it should be left for later.

To upgrade the compiler and hav

[2020-02-03 19:54] frangio commented on #132
Fixed in #134. Thank you for reporting.

[2020-02-03 19:54] #132 closed

[2020-03-20 20:46] frangio commented on #133
Fixed in https://github.com/OpenZeppelin/solidity-docgen/commit/087103120d419de2c44fdc6a79cb99d88f26bd3b and subsequent commits. Released in 0.4.0.

[2020-03-20 20:46] #133 closed

[2020-03-20 20:47] frangio commented on #71
I've left a comment in your repository in https://github.com/UMAprotocol/protocol/pull/1046#issuecomment-601902777. Reproducing it here:

I've realized that a simple change in the template fixes it for us. I've removed the `pass:normal` macro in the places where it wasn't necessary. See [OpenZeppelin/openzeppelin-contracts#2141](https://github.com/OpenZeppelin/openzeppelin-contracts/pull/2141/file

[2020-03-20 20:47] #71 closed

[2020-03-20 21:37] frangio commented on #24
Fixed in https://github.com/OpenZeppelin/solidity-docgen/commit/e316e723b342275b62765bdbecda8969ecc3fc33.

[2020-03-20 21:37] #24 closed

[2020-03-31 05:30] shunp opened #166 "Solidity was unable to compile because of the compiler version"
When trying to generate docs, I've encountered this problem.

### [Error Message]
ParserError: Source file requires different compiler version (current compiler is 0.6.4+commit.1dca32f3.Emscripten.clang - note that nightly builds are considered to be strictly less than the released version
pragma solidity 0.5.16;
^---------------------^

### [My structure]

[code]

[code]

[2020-03-31 07:31] abcoathup commented on #166
Hi @shunp!

I’m sorry that you had this issue.

Thanks so much for reporting it! The project owner will review and triage this issue during the next week.  In the meantime, you can try the following workaround:
Install the previous version which supported Solidity 0.5 (see https://github.com/OpenZeppelin/solidity-docgen/issues/133#issuecomment-581554574)
[code]

[2020-03-31 16:12] frangio commented on #166
Hi @shunp. Please take a look at [the changelog entry for 0.4.0](https://github.com/OpenZeppelin/solidity-docgen/blob/master/CHANGELOG.md#040).

compiler, you can install `solc@0.5` in your project and run `solidity-docgen
--solc-module ./node_modules/solc`.

Let me know if you're able to fix it following these instructions.

[2020-03-31 16:12] #166 closed

[2020-04-03 02:40] shunp commented on #166
@frangio @abcoathup
Thank you for your comment.
It works successfully when using `solc@0.5.16`.

[2020-04-14 17:27] frangio opened #175 "Excluding certain items from the output"
It should be possible to hide items (functions, events, etc.) from the output. A potential mechanism is using the same syntax suggested in #131 with an attribute like `!no-docs`, or `!hide`.

[2020-04-28 19:40] nventuro opened #185 "Code indentation in Solidity comments is lost"
As described in the title, any indentation in documentation generated by comments on the source code is lost:

![image](https://user-images.githubusercontent.com/2530770/80530084-e20afc00-896e-11ea-872d-4207f03fc179.png)

This might be related to the following replacement: https://github.com/OpenZeppelin/solidity-docgen/blob/b2ea4807305bf3df254f7fe7ca154f5cb0c5ecce/src/source.ts#L390

[2020-05-08 14:39] frangio opened #188 "Expose the "abstract" property of contracts in template"

[2020-05-22 19:19] renovate[bot] opened #203 "Update Dependencies (Renovate Bot)"
This repository is up-to-date and has no outstanding updates open or pending.

[2020-05-28 23:46] #203 closed

[2020-06-29 17:54] jeffywu opened #213 "Allow users to register their own Handlebars helpers"
Would be nice to allow users to register their own handlers, the current set of handlers is quite sparse.

[2020-06-29 20:05] frangio commented on #213
Hi @jeffywu! What do you mean by handlers exactly?

[2020-06-29 20:59] jeffywu commented on #213
It would be useful to be able to add custom functionality to the handlebars templates via handlers:
https://github.com/OpenZeppelin/solidity-docgen/blob/master/src/handlebars.ts

I have use cases for trimming strings or filtering the list of functions, etc.

[2020-06-29 21:05] frangio commented on #213
Ah I see, that's interesting. I think it makes sense.

Something like this?

`solidity-docgen --helpers helpers.js`

[code]

[2020-06-29 23:35] jeffywu commented on #213
Yeah that would be perfect

[2020-07-01 16:13] #213 closed

[2020-07-01 16:17] frangio commented on #213
@jeffywu I've added the `--helpers` option as described in the comment above.

Could you try it out in the prerelease and let me know how it goes before I publish it?

`npm install solidity-docgen@next`

Thank you!

[2020-07-03 14:50] jeffywu commented on #213
Hi I'll take a look on Sunday, I'm taking a couple days off but will get back to you. Thanks for the quick turnaround!

[2020-07-06 16:07] frangio commented on #213
Great! I've published it as `0.5.4`.

[2020-08-26 20:17] mr-ubik opened #225 "Resolve @inheritdoc tag"
NatSpec `@inheritdoc` seems to not be resolved the parser.

[2020-08-31 09:17] abcoathup commented on #225
Hi @mr-ubik!  I’m sorry that you had this issue.

Thanks so much for reporting it! The project owner will review and triage this issue as soon as they can.

[2020-08-31 11:01] mr-ubik commented on #28
Are there any updates on this?

[2020-08-31 11:03] mr-ubik opened #227 "Generating docs from a single .sol with 1+ contracts/interface will only output the last one"
Generating docs from a single .sol with 1+ contracts/interface will only output the last one

Example:

File: `test.sol`

[code]

Only docs for B will be generated in the file `test.md`

[2020-08-31 21:47] frangio commented on #227
@mr-ubik Can you let me know what version you're running, and what command line flags you're using? Thanks.

[2020-08-31 21:58] frangio commented on #225
I'd love to have support for `@inheritdoc`. It will require somewhat nontrivial changes and I don't expect to have availability to work on this for some time.

If someone would like to have a shot at this, here's some pointers:

- We have a `parseNatSpec` function that will now need to handle `inheritdoc` tags.
- In order to process `inheritdoc` we need to be able to resolve a contract identifier

[2020-08-31 22:05] frangio commented on #28
The feature hasn't been implemented. The codebase was entirely rewritten since the original issue was opened so the patches no longer apply. The tool is much more robust, though, so I wonder if the same errors would show up.

@mr-ubik If you ran into any specific issues please open issues so we can troubleshoot. (Other than the issues you have already opened.)

[2020-09-03 18:36] mr-ubik commented on #227
Version: `0.5.4`
Command: `solidity-docgen -i ../contracts -o md-build -t solidity-docgen-templates`

[2020-09-04 14:57] frangio commented on #227
I can confirm this is a bug here:

https://github.com/OpenZeppelin/solidity-docgen/blob/3feedac5878a751fd5ec2d70d74d34f8931c40e1/src/page.ts#L96-L99

I'll try to fix it as soon as possible. Thank you for reporting!

[2020-09-04 22:45] #227 closed

[2020-09-04 22:47] frangio commented on #227
@mr-ubik I've released `0.5.5` with a fix for this issue.

[2020-09-11 15:05] frangio opened #233 "Figure out what changed in solc 0.6.9 natspec parsing"
Something changed in solc 0.6.9 in the parsing of documentation comments. Multiple newlines as below are compressed in our output.

[code]

https://github.com/OpenZeppelin/solidity-docgen/blob/f66b17c0d0ec41e2695e82231b1d8973e5b88b93/src/source.ts#L388-L390

As a workaround in OpenZeppelin Contracts we hadcoded 0.6.8 for docs generation. https://github.com/OpenZeppelin/openzeppelin-contracts/commi

[2020-09-14 08:32] Thykof commented on #87
Hi,

Here is the template I use:

    # {{natspec.title}}
    {{natspec.userdoc}}
    {{natspec.devdoc}}

    {{#each functions}}
    ## {{signature}}

    {{natspec.userdoc}}
    {{natspec.devdoc}}

    **Params**
    {{#each natspec.params}}
     - `{{param}}`: {{description}}
    {{/each}}

    **Returns**
    {{#each natspec.returns}}
     - `{{param}}`: {{description}}
    {{/each}}

    {{/e

[2020-09-18 20:30] frangio opened #236 "Support Solidity 0.7.1 free functions"

[2020-10-05 13:00] yudilevi opened #241 "Contracts that define/use global structs aren't documented"
For example, no doc is generated for this one -
https://github.com/bancorprotocol/contracts-solidity/blob/master/solidity/contracts/utility/Types.sol

In addition, contracts that use the global struct also don't get docs generated for them.

[2020-10-05 14:20] frangio commented on #241
Thank you for reporting @yudilevi!

Structs aren't documented even when they're defined inside a contract or library. I agree that it would be a good idea to document them though.

What do you mean by this?

[2020-10-05 15:02] yudilevi commented on #241
Hey @frangio - you're right about structs - the main issue is the contracts that use them.
Take the following contract as an example -
https://github.com/bancorprotocol/contracts-solidity/blob/master/solidity/contracts/converter/types/liquidity-pool-v1/LiquidityPoolV1Converter.sol

Because it relies on the global struct from the `Types` contract, it doesn't get docs generated for it.

[2020-10-05 19:35] frangio commented on #241
From my understanding of how `solidity-docgen` works, I fail to see how using a global struct would result in docs not being generated for the contract. I could be mistaken, though. What makes you think that it's the use of the struct that is causing this?

Can you tell me what command you're running and where, so that I can try to reproduce it locally. Thanks!

[2020-10-06 13:36] yudilevi commented on #241
@frangio forget it - I just checked - it was a different issue and not in docgen lib - feel free to close this issue.

Thanks!

[2020-10-06 15:41] #241 closed

[2020-11-14 03:34] #185 closed

[2020-11-14 03:34] #233 closed

[2020-11-18 08:44] chapati23 opened #255 "Cannot destructure property 'content' of 'this.input.sources[source]' as it is undefined."
hey, gave this package a try today and ran into this error:

`TypeError: Cannot destructure property 'content' of 'this.input.sources[source]' as it is undefined.`

this is the failing line: https://github.com/OpenZeppelin/solidity-docgen/blob/master/src/solc.ts#L210

the `source` argument is `@openzeppelin/contracts/access/AccessControl.sol` so I'm guessing this has something to do with solidity-

[2020-11-18 20:09] frangio commented on #255
Thank you for reporting! Imported packages should be supported, but this piece of code is new and I had not tested it with dependencies.

I'll publish a fix but in the meantime you can use version 0.5.7.

[2020-11-18 20:41] frangio commented on #255
Fixed in https://github.com/OpenZeppelin/solidity-docgen/commit/2d1e2fea8a5504b5075a172635664d02aae642ab. Released in 0.5.9!

[2020-11-18 20:41] #255 closed

[2020-11-19 08:41] chapati23 commented on #255
works! thanks for fixing this so quickly 🙌

[2020-11-19 19:43] frangio commented on #56
We're at 80% coverage which is pretty good so I'm going to close this.

[2020-11-19 19:43] #56 closed

[2020-11-24 20:36] frangio opened #257 "Provide an easy to use Hardhat plugin"
We may need to implement #28 in order to integrate with the Hardhat compilation pipeline.

[2020-11-24 20:41] frangio opened #258 "Document values available in templates"

[2020-11-24 20:47] frangio opened #259 "Make page information available in the contract template"
Aside from contract-specific data like `functions`, I would like contract templates to have available information about the page they are being rendered in, such as the links object available to the [prelude template](https://github.com/OpenZeppelin/solidity-docgen/blob/5b6fb2578069b12b0303261f7544887ce3d3803b/src/page.ts#L10).

[2020-12-02 15:35] Yorkemartin commented on #225
Just wanted to check in on this - @inheritdoc is still unsupported?

[2020-12-02 15:50] frangio commented on #225
@Yorkemartin Yes, we haven't implemented it yet. Are you using solidity-docgen and would like to see inheritdoc supported?

[2020-12-02 15:55] Yorkemartin commented on #225
@frangio I am using it - would love to see inheritdoc supported.

[2020-12-02 16:04] frangio commented on #225
I can't promise any timeline, but I'll keep this in mind. If you happen to be interested in contributing the feature I'd be happy to guide you through it!

[2020-12-03 19:30] mswezey23 opened #261 "Cannot generate docs from flattened file"
Steps to reproduce:

1) flatten: `npx truffle-flattener ./contracts/WrappedShift.sol >> ./build/flattened/WrappedShift.sol`
2) generate docs: `npx solidity-docgen -i ./build/flattened/`

Error:
[code]

[2020-12-04 23:41] nolanjacobson commented on #13
[code]

[2020-12-05 16:31] Yorkemartin opened #262 "docgen does not parse @param or @return when using yarn"
I read this feature was enabled, but it's not working for me. could using yarn be the issue? or is there some part of the config process that needs to specifically enable @param and @return parsing?

[2020-12-05 16:58] frangio commented on #262
Hi, you're likely using [the default template](https://github.com/OpenZeppelin/solidity-docgen/blob/master/templates/contract.hbs) which does not include param and return tags.

Copy this file into your project and customize it. You can use you custom template with the option `-t <template directory>`. The directory should be the directory where `contract.hbs` is located.

In order to print `@para

[2020-12-05 17:16] frangio commented on #262
Let me know if you get it working or need any more help!

[2020-12-05 17:18] Yorkemartin commented on #262
This is great - got that working. If there are any tips on configuring or guides it would be great to link them in the readme. not sure if the configuration adheres to some standard or if its created specifically for docgen

[2020-12-05 17:45] frangio commented on #262
Unfortunately I haven't been able to put together a guide or reference documentation yet.

The values available in the template are defined in [this TypeScript file](https://github.com/OpenZeppelin/solidity-docgen/blob/4c1d1552a69fa182fc2a94bc6044ac20a328a604/src/source.ts). The top level is a [`SourceContract`](https://github.com/OpenZeppelin/solidity-docgen/blob/4c1d1552a69fa182fc2a94bc6044ac20a

[2020-12-05 17:55] #262 closed

[2020-12-05 19:14] #225 closed

[2020-12-05 19:17] frangio commented on #225
@mr-ubik @Yorkemartin I've implemented support for `@inheritdoc`. It's included in the latest release.

Try out and let me know if you find any issues with it!

[2020-12-07 19:46] Yorkemartin commented on #262
Curious about the reasoning behind filtering out private functions from the docgen? would you recommend deleting that filter in the source.ts file to generate private function docs or is there a more elegant approach?

[2020-12-08 00:17] Yorkemartin opened #265 "Does not parse private functions"
solidity-docgen seems to not parse internal functions, though I'm getting one or two through. Is this intentional?

[2020-12-08 00:19] Yorkemartin commented on #265
I see in source.ts - `get ownFunctions()` there is  .filter(n => n.visibility !== 'private').
I commented it out but private functions still are not generated.

[2020-12-08 01:43] frangio commented on #265
Internal functions should be included in the output. Private functions aren't. solidity-docgen aims to produce documentation for users of the external or internal APIs of a contract, and private functions are seen as implementation detail.

Can you describe a bit more why you want to include private functions in the output? Who is the target reader of the documentation you're producing?

[2020-12-08 01:52] Yorkemartin commented on #265
The goal of the documented private functions is to help developers understand the internal processes of a larger function. In this instance many private functions are called in sequence to process a type of calculation. Documenting each private function will make the mechanics easier for a reader to grasp. It will also help with auditors looking to quickly gain a high level overview of the process

[2020-12-08 14:59] frangio commented on #265
I see. I'll take a look at adding an option to include private functions tomorrow.

[2020-12-08 22:32] ichub opened #266 "Docs don't include structs"
I'm trying to generate documentation from my contracts, and it looks like the structs are not included in the generated documentation.

Are there plans to include structs? If not, would it be possible for you to let me know how to set up a development environment to make a PR that adds struct information to the generated documentation?

Thanks!

[2020-12-09 16:26] frangio commented on #266
Thanks for the suggestion! One of the issues with structs is that solc doesn't parse NatSpec comments on them, so we would only be able to provide basic information about the type: name, and type and name for each member.

We don't have plans for it but it's something I would be interested in.

In order to make a PR you should fork this repo, clone the fork on your computer, and run `npm install`.

[2020-12-09 23:30] frangio commented on #265
@Yorkemartin I added a new array variable in the contract template: `privateFunctions`. It can be used like `ownFunctions` or `functions` to produce documentation for all own private functions. (Note: they are not inherited.)

Released now in the latest version!

[2020-12-09 23:30] #265 closed

[2020-12-17 02:06] ichub commented on #266
I see, thanks for your reply! I'll see if there's anything I can help with at some point. It would be really great to have all of our documentation generated from source.

[2021-03-05 16:04] Yorkemartin opened #280 "Cannot find solc module when using solc 0.7.6"
Despite adding solc @ 0.7.6, solidity-docgen returns that It cannot find the module, and fails compilation by using incorrect solc version.

is there something I'm missing here? I've tried reinstalling and looking up every example of specified compilation settings but nothing has fixed it yet

[code]

[2021-03-05 16:33] Yorkemartin commented on #280
nvm I got it to work with the lander example on this repo

[2021-03-05 16:33] #280 closed

[2021-03-17 15:09] axic opened #283 "Support the version number and kind (doctype)"
Since 0.6.11 (with https://github.com/ethereum/solidity/issues/8922) the compiler outputs a `version` tag (set to `1`) and a `kind` tag (set to `user` or `dev`).

It would be useful to support these for forward-compatibility, though I am not sure if there's an immediate change to be made. Ideally I would say the tool should turn into some legacy mode if `version` tag is missing.

However we do pla

[2021-03-17 15:14] axic opened #284 "Removing dependency on the AST"
Apologies if this question makes little sense as I have not reviewed the entire codebase. However I am wondering if the dependency on the AST could be removed and depending on the "public" Natspec and ABI outputs would be enough to accomplish everything. And if not, what are the missing details in these two?

[2021-03-17 15:18] axic commented on #131
Heads up, this has been solved with `@custom:...` in 0.8.2.

[2021-03-17 18:59] frangio commented on #284
If I remember correctly, the compiler's NatSpec outputs only include external (or public) functions. It's important for this project to be able to document internal functions.

I believe there were other things missing back when I initially built this. But overall working with the AST directly has provided a lot of flexibility. I'm happy to help figure out how to improve the compiler's NatSpec out

[2021-03-17 18:59] #284 closed

[2021-03-17 19:06] frangio commented on #283
Thanks for the issue! I think as you have seen this project doesn't use the NatSpec output, and if I understand correctly `version` and `kind` are found there. So I think I can close this as there is nothing we need to do.

[2021-03-17 19:06] #283 closed

[2021-03-17 19:13] axic commented on #283
It doesn't? I may be mistaken then, but I did see a lot things called natspec in templates and `source.ts`.

Okay I see now in https://github.com/OpenZeppelin/solidity-docgen/blob/4374a6d15c3688c485c640f8cc6ae1a212e3aedb/src/source.ts#L430, you are trying to rebuild natspec out of the AST.

I hope this does not mean that we have less flexibility upgrading mechanisms 😬

[2021-03-17 20:33] frangio commented on #283
We're already adapting ASTs from previous Solidity versions so we can treat them all uniformly, so if anything changes in the future we will do the same!

[2021-04-21 11:52] steffenix opened #291 "vyper support"
I would be interested to know how to generate doc for both solidity and vyper files.
I guess the easiest would be to be able to do it using https://github.com/OpenZeppelin/solidity-docgen/issues/28

Another idea would to make this project importable and export some of the class like SourceContract so that can be used to build a small script that will generate the doc from the output value.

[2021-04-21 15:38] steffenix commented on #28
Is that something planed?

[2021-04-21 19:48] frangio commented on #28
I still think this is a good idea, but there are no plans to do this. If someone wants to take it on I'm happy to guide through it.

[2021-04-21 19:58] frangio commented on #291
Hi @steffenix. I think `solidity-docgen` is too coupled to Solidity for this to make sense. What the code essentially does is traverse the Solidity AST, and the classes like `SourceContract` work on Solidity AST nodes, so exposing these classes wouldn't help at all.

In order to support Vyper the project would need drastic changes, if not a complete rewrite. It might be better to build something e

[2021-04-22 08:17] steffenix commented on #28
I can help.

[2021-04-22 08:19] steffenix commented on #291
I misunderstood and tough vyper output and solc output would be the in the same format.

[2021-04-22 14:53] frangio commented on #291
Got it. I will close this issue then.

[2021-04-22 14:53] #291 closed

[2021-05-03 17:57] Pzixel commented on #25
So any progress on this? I also wonder if it works on windows, since I'm struggling with `solc.exe` right now - it fails with

[code]
...

[code]

[2021-05-03 18:06] frangio commented on #25
`--solc-module` only works with solc installed from npm.

Native solc is not supported at the moment.

[2021-05-03 19:21] Pzixel commented on #25
Well, it's a bit underwhelming. Anyway, thanks for a quick answer I won't waste my time on trying to figure out what's wrong - I though it should me by mistake.

[2021-05-03 21:26] Pzixel opened #293 "Readme example is not working"
I'm trying to get this  working. Unfortunately I've got no luck yet.

This is what readme says I should type to make documentation process working:

[code]

And this is what I actually get (using uniswap as example):
[code]

Is there any workaround for it? I can see `"solc-0.7": "npm:solc@^0.7.6",` added to `project.json` after first command executed but I still get "Cannot find module" error

[2021-05-03 21:32] Pzixel commented on #293
Sorry, I was using 0.3. With 0.5 it works as expected (seemingly). Closing this for now.

Have a nice day

[2021-05-03 21:32] #293 closed

[2021-05-03 21:35] Pzixel commented on #291
I thought it's working via `solc --userdoc,devdoc`. So it uses its own contracts parser?

[2021-05-03 23:03] frangio commented on #291
@Pzixel It uses solc to parse the AST, and the NatSpec is parsed from from the AST. See https://github.com/OpenZeppelin/solidity-docgen/issues/284#issuecomment-801333520.

[2021-05-03 23:08] Pzixel commented on #291
Hm, okay. I've just got an impression that you parse AST yourself. If you're calling solc to do whatever parsing then it's irreleant: it's just a blackbox that get some contract as input and output some documentation jsons, and then you process those jsons. If it's now how it works then please could you be in more details?

[2021-05-04 14:09] frangio commented on #291
I don't understand the question. Can you open a new issue?

[2021-05-04 17:46] Pzixel opened #294 "Add @param in default template"
1. git clone https://github.com/Uniswap/uniswap-v3-core.git --depth 1
2. cd uniswap-v3-core
3. npx solidity-docgen --solc-module solc-0.7

Then let's check some file. I've took IUniswapV3Factory.sol as example.

This is how item is documented:

[code]

And this is actual result of `npx solidity-docgen` output:

[code]

You can see that only `notice` message got rendered.

Expected result:

[code]

[2021-05-04 17:50] frangio commented on #294
You can set a template to customize the output. Copy `contract.hbs` into a `templates` directory, then call `solidity-docgen -t templates ...`

All of the information you want is available in the template. You can find some examples and WIP documentation in https://github.com/OpenZeppelin/solidity-docgen/pull/290.

[2021-05-04 17:51] Pzixel commented on #294
Okay, I see. Thanks. Anyway, I'd propose to use more user-friendly template as default.

Thanks for a quick answer, as always!

[2021-05-04 18:03] frangio commented on #294
I agree that parameters should be included by default. Would appreciate a PR if you wanted to provide one!

[2021-05-06 19:16] Pzixel commented on #294
I'm working on it right now. Could you also help me with following: how do I add contract description in hbs template? I'm lurking at https://github.com/OpenZeppelin/solidity-docgen/blob/9bd50c32841d1e9500fa35fce48dc541d72cd8bb/src/source.ts but didn't find a way to do so. For example:
[code]
I'd like to get this comment to output

[2021-05-06 21:56] frangio commented on #294
`@notice` corresponds to `{{natspec.userdoc}}``.

[code]

[2021-05-14 15:58] fulldecent opened #295 "Show example output"
May an example of program output please be shown/linked on the README file?

This would help me see if this is a project I would like to use?

[2021-05-14 16:20] frangio commented on #295
Can't work on the README right now but you can find examples of output in [`cli.test.ts.md`](https://github.com/OpenZeppelin/solidity-docgen/blob/master/src/cli.test.ts.md). I know this isn't the best format, sorry.

Keep in mind you can customize the output using templates as shown in https://github.com/OpenZeppelin/solidity-docgen/pull/290.

[2021-05-14 18:25] fulldecent commented on #295
Cool, thank you

[2021-06-02 18:28] Evert0x commented on #294
Hey @Pzixel, I see you got the .hb file working with the `@param` natspec [here](https://github.com/Pzixel/testdocs/blob/master/docs/UniswapV3PoolDeployer.rst)

Do you mind sharing your handlebar file?

[2021-06-02 18:46] Pzixel commented on #294
Hey. Why not I guess. There is only one caveat: I have two versions to work with readthedocs (rst) and gitbook(md). The former requires some postprocessing to make it work but if you're fine with gitbook you probably don't need anything. This is my template:

[code]

Hope this helps!

[2021-06-02 18:51] Evert0x commented on #294
Thanks a lot! Made me realize using comments like

[code]
Doesn't work, has to be written like

[code]

[2021-06-02 18:55] #294 closed

[2021-06-02 22:52] frangio commented on #294
@Pzixel Thank you for sharing! Is the setup with Gitbook available in a public repo? I'd love to see.

[2021-06-02 23:14] Pzixel commented on #294
AFAIK it's going to be published soonish but not quite yet. So unfortunately I cannot share it right now.

[2021-06-10 10:02] Pzixel opened #299 "Allow to register additional handlebars helpers"
(or at least add more helpers)

The current problem is that existing helpers couldn't fit all the requirements. For example consider [following handlebars](https://github.com/Uniswap/uniswap-docs/blob/main/contract.hbs). Look at this place:

[code]
It looks just fine but natspec allows `description` to have newlines (and this is what happens when you have a really long comment). If this happens ma

[2021-06-10 13:30] Pzixel opened #300 "Add returnParameters alongside with parameters"
Current version of `solidity-docgen` exposes `ast.parameters` as `args` but doesn't expose return values. It's important because `natspec.returns` only shows return args that were documented which isn't always the case.

[2021-06-10 14:21] Pzixel opened #301 "Do not expect that first word in comment line is name of result variable"
Consider following method and comment:

[code]

When it get parsed with `parseNatSpec` function it parses `Some` as response variable name and the rest as its description. But `natspec` doesn't have any requirements on format of `return` and it makes total sense to omit it at all when there is only one return value

[2021-06-10 14:39] Pzixel commented on #299
Another example would be `any/all` (for example "render header only if any of items has some condition evaluated to true)

[2021-06-10 14:57] frangio commented on #299
Hey sorry that this is not documented but you can already register additional helpers as shown here: https://github.com/OpenZeppelin/solidity-docgen/issues/213#issuecomment-651365558

[2021-06-10 14:57] #299 closed

[2021-06-10 15:19] Pzixel commented on #301
There is a comment about its format:

But their own example with `Tree` shows that it only applies when function has more than one output value

[2021-06-10 18:43] frangio commented on #300
Exposing return parameters is a good idea.

`astNode` is a `private` TypeScript variable but you should still be able to access it in your Handlebars templates. Can you try that and let me know if it works?

[2021-06-10 18:44] frangio commented on #301
Thanks for pointing this out. We're indeed assuming the wrong format in our parsing.

[2021-06-29 13:09] tzapu opened #302 "indexed parameters lookup for events"
hi

is there a way to tell in the template if an event's parameter was indexed or not?

thanks you

[2021-06-29 20:12] frangio commented on #302
Not directly, but you can do it by accessing the AST node of the event definition. Something like this should work:

[code]

[2021-06-29 23:05] tzapu opened #303 "visibility seems to be emty when looping over ownVariables"
like the title says, visibilty seems to be empty

tried it like this
[code]

cheers

[2021-06-29 23:07] tzapu commented on #302
thank you very much @frangio
i was able to read it like this ` {{#with (lookup ../astNode.parameters.parameters @index)}}{{#if indexed}}:white_check_mark:{{/if}}{{/with}} `

not sure if you want this issue closed or left to expose it later on

[2021-06-30 11:51] tzapu opened #304 "sample template"
created a template by piecing together various posts around here and thought it may be useful for others as well

https://github.com/tzapu/solidity-docgen-template/blob/main/contract.hbs

suggestions are welcome, this was my first time handlebars-ing around

[2021-07-01 13:20] frangio commented on #304
This is great @tzapu! I just had an idea: it would be nice to feature example templates in the readme. Do you want to create a PR adding an "Example Templates" section and listing yours? It would be great if you could add a link to the finished website.

[2021-07-01 13:30] frangio commented on #302
Let's leave it open, it would be nice to expose this somehow.

[2021-07-02 06:17] cec200 commented on #300
https://github.com/OpenZeppelin/solidity-docgen/issues/300#issue-917350204 #298

[2021-07-04 20:11] cec200 opened #306 "I'l give it a shot. Thanks for insight, in my actually work"
I'l give it a shot. Thanks for insight, in my actually work

_Originally posted by @Pzixel in https://github.com/OpenZeppelin/solidity-docgen/issues/300#issuecomment-858952865_

[2021-07-04 20:13] cec200 opened #307 "```suggestion"
[code]

_Originally posted by @frangio in https://github.com/OpenZeppelin/solidity-docgen/pull/290#discussion_r617781317_

[2021-07-05 13:54] #307 closed

[2021-07-05 13:55] #306 closed

[2021-07-12 23:21] KlimMixer commented on #266
Hi.
I have been blocked by this issue, and I have solved it.
Please review my PR: #310
Thank you.

[2021-07-19 22:14] Yorkemartin opened #313 "does not parse `override`"
would be nice to return both `view` and `override` - for the moment they still require manual addition afterward.

[2021-07-20 13:07] frangio commented on #313
What information about override do you think should be exposed? Just that a function is an override?

[2021-07-20 14:38] Yorkemartin commented on #313
if a function is marked as `override` - this implicitly changes the functionality of external functions.

i think `override` and `view` should be exposed - both are relevant to developers understanding external functions

[2021-07-20 22:32] frangio commented on #313
I agree that `view` is relevant in API docs. But I don't understand why `override` would be included, since I see it as an implementation detail.

[2021-07-21 18:19] Yorkemartin commented on #313
an example:

In Uniswap V3 - users may call a variety of external contracts which are tailored for different objectives. In one case, one will call the Router contract to execute a swap, but another may call a Quoter contract to simulate the execution of a swap and return some kind of data.

Both of these contracts, the router and the quote, use this same callback function, which is called by the

[2021-07-22 19:11] frangio commented on #313
Can you show the pieces of documentation that are affected by this? I remain of the opinion that `override` is just an implementation detail, and that if there is any possibility to mislead, it should be documented in prose.

[2021-07-23 15:51] Yorkemartin commented on #313
im seeing your point now - i think just doing `view` is fine

[2021-08-16 19:57] tzapu commented on #304
sure, will do in about a week, missed this response, sorry

[2021-08-24 13:14] dimsome opened #319 "Get the modifier(s)"
Not sure, how can I get the modifiers? Ideally, I would like to specify in the docs which modifiers are used or filter out the functions that should only be available to the public.

[2021-08-24 17:52] dimsome commented on #319
Surely there must be a better way?

`{{#each astNode.modifiers }}{{modifierName.name}}{{/each}}`

[2021-09-02 21:03] JackBekket opened #322 "Support for 0.8.0"
https://github.com/OpenZeppelin/openzeppelin-contracts seems like 0.8.0 become standard, can we make docgen now support generation for 0.8.0 ?

[2021-09-07 13:00] frangio commented on #322
Hi @JackBekket. You should be able to use 0.8 using the [steps shown in the readme for 0.7](https://github.com/OpenZeppelin/solidity-docgen#solidity-07). Have you tried this?

[2021-09-08 09:54] axic commented on #131
Is this supported now or is it still outstanding?

[2021-09-15 05:25] StErMi opened #323 "How to use solidity-docgen?"
Hi there, is there a tutorial to use this documentation tool? I would love to start documenting my contract and showcase to other people how to use it!

[2021-09-15 21:45] frangio commented on #323
Hi @StErMi, Sorry there is no tutorial. I encourage you to give it a shot by installing and running it and asking questions as needed.

[2021-09-15 22:01] frangio commented on #131
Yes, custom tags like `@custom:foo` are supported as of `0.5.13` by using `{{natspec.custom.foo}}` in the Handlebars template.

Thanks for following up on this!

[2021-09-15 22:01] #131 closed

[2021-09-15 22:32] frangio commented on #319
Hi @dimsome. Modifiers are not exposed currently. By "available to the public" do you mean you want to remove stuff that is `onlyOwner` or similar? That is interesting... In the meantime you could use an `@custom:only-owner` attribute and read it from the template using `{{natspec.custom.only-owner}}`. (Note: I'm actually not sure the dash works, if it doesn't an underscore should work.)

[2021-09-15 22:50] #266 closed

[2021-09-29 00:26] asselstine opened #325 "RangeError: Maximum call stack size exceeded"
I'm trying to use `solidity-docgen` with node `16.9.0` and solc `0.8.6`.

I try to generate the docs using the command:

[code]

But I get the error:

`RangeError: Maximum call stack size exceeded`

Any thoughts?

[2021-09-29 01:23] asselstine commented on #325
Want to follow-up with what I tried:

I'm on a Mac, so first I set the app stack limit to max:

`ulimit -s hard`

Then I tried to re-run the command using the maximum stack size:

`node --stack-size=65532 node_modules/solidity-docgen/dist/cli.js --solc-module solc -i contracts -o docs -t templates`

And now I get:

`error Command failed with signal "SIGSEGV".`

So my guess is there is some kind of

[2021-10-04 19:38] frangio commented on #325
Can you share what project you were running this on?

[2021-10-05 04:14] asselstine commented on #325
In fact, yes I can!

Our code is now public for [PoolTogether V4](https://github.com/pooltogether/v4-core)

You can replicate this by going:

[code]

[code]

[2021-10-05 04:15] asselstine commented on #325
One of our frontend devs just asked for the docs...I would love to make this possible!

[2021-10-05 09:45] VakhtanhChikhladze opened #328 "Changing solc-module error"
$ npx solidity-docgen --solc-module node_modules/solc
    TypeError: this.solc.compileStandardWrapper is not a function

[2021-10-05 20:46] frangio commented on #325
There are circular dependencies in the source code and that's what's causing this. You can see it by running `hardhat flatten`. solidity-docgen should not crash like this regardless, but you should be able to fix it by finding the circular dependency and removing it.

[2021-10-05 20:49] frangio commented on #328
The argument to `--solc-module` should be `solc` or `./node_modules/solc`.

[2021-10-05 20:49] #328 closed

[2021-10-05 21:03] frangio commented on #325
It seems that the mutual dependency between `IDrawCalculator` and `DrawPrize` may be needed... Let me see how I can fix this crash.

[2021-10-05 21:39] frangio commented on #325
One more thing I found is that the recursion happens as part of processing `@inheritdoc`. So another workaround is to remove all `@inheritdoc` lines in DrawPrize and DrawCalculator. I've confirmed that this works.

[2021-10-06 01:47] asselstine commented on #325
works perfectly btw!  🙌

[2021-10-06 07:19] VakhtanhChikhladze commented on #328
% npx solidity-docgen -i contracts -o docs --solc-module ./node_modules/solc
    TypeError: this.solc.compileStandardWrapper is not a function
And if i type this:
% npx ./node_modules/solc --version
0.8.0+commit.c7dfd78e.Emscripten.clang

[2021-10-06 07:59] VakhtanhChikhladze opened #329 "trouble in solidity-docgen"
% npx solidity-docgen -i contracts -o docs --solc-module ./node_modules/solc
TypeError: this.solc.compileStandardWrapper is not a function
And if i type this:
% npx ./node_modules/solc --version
0.8.0+commit.c7dfd78e.Emscripten.clang

[2021-10-06 13:19] frangio commented on #328
Have you tried with `--solc-module solc`?

What is the version of `solidity-docgen`?

If nothing works please run `env DEBUG='*' npx solidity-docgen ...` to retrieve the stack trace.

[2021-10-06 13:39] frangio commented on #329
Continuing the conversation in https://github.com/OpenZeppelin/solidity-docgen/issues/328.

[2021-10-06 13:39] #329 closed

[2021-10-06 15:32] VakhtanhChikhladze commented on #328
yes, i tried `--solc-module solc` and i got the same error

% npx solidity-docgen --version
solidity-docgen/0.3.14 darwin-x64 node-v16.10.0

% env DEBUG='*' npx solidity-docgen
  @oclif/config reading core plugin /Users/ippolit/project/node_modules/solidity-docgen +0ms
  @oclif/config loadJSON /Users/ippolit/project/node_modules/solidity-docgen/package.json +0ms
  @oclif/config loadJSON /Users/ipp

[2021-10-07 00:56] VakhtanhChikhladze commented on #328
Ok, fine, i now i get another error.
I have a tree of my project like this:
.
├── contracts
│   ├── MyContract.sol
├── openzeppelin
│   ├── contracts
│   │   ├── README.md
│   │   ├── proxy
│   │   │   ├── transparent
│   │   │   │   ├── ProxyAdmin.sol
│   │   │   │   └── TransparentUpgradeableProxy.sol

And if i type
% npx solidity-docgen --solc-module solc
    Error: Solidity was unable to compi

[2021-10-08 08:12] vc-cu opened #330 "How solidity-docgen parse the annotations?And i need to parse annotation @param, how can i do it?"

[2021-10-15 15:23] #330 closed, assigned to nobody

[2021-11-02 23:23] ghost opened #333 "documenting Struct/ Enum/ Constant outside of contract"
Hi, I'm attempting to document an [EIP-2535](https://eips.ethereum.org/EIPS/eip-2535) Diamond contract that utilizies an 'AppStorage' pattern such as in [AAVEGotchi](https://github.com/aavegotchi/aavegotchi-contracts/blob/master/contracts/Aavegotchi/libraries/LibAppStorage.sol)  Thing is this pattern makes extensive use of structs outside of contracts.  To which I cant seem to docgen to register i

[2021-11-02 23:40] Joe-mcgee commented on #333
specifically speaking
[code]

[2021-11-14 19:17] frangio commented on #333
Thanks for reaching out @Joe-mcgee. This is not currently supported. I'm interested in it but the code is structured around documenting contracts, and I haven't figure out how to implement it.

[2021-11-14 22:29] Joe-mcgee commented on #333
Thanks for looking into it and letting me know @frangio :)

[2021-11-29 14:25] nksazonov opened #336 "Support of array[] type in params and returns"
As discovered, solidity-docgen doesn't include array types (e.g. `int[]`) into generated doc from params or returns: square brackets simply don't pass the regex of [`genNatSpec()`](https://github.com/OpenZeppelin/solidity-docgen/blob/master/src/source.ts#L577):
`const paramMatches = content.match(/(\w+) ([^]*)/);`

Are there any intentions of supporting that soon?

[2021-12-01 12:24] paulrberg opened #338 "How to use this with multiple compilers?"
When running `solidity-docgen` in a project that uses multiple Solidity compilers, I am getting this error:

[code]

How could I use this tool with multiple Solidity compilers?

Side note: it might be worth it to enable [discussions](https://docs.github.com/en/discussions)

[2021-12-01 17:21] frangio commented on #338
Thanks for the suggestion, I've enabled discussions.

Currently you would only be able to run in this context by keeping those contracts in separate directories, and including the option when running `-i contracts/subdir`.

[2021-12-01 17:27] paulrberg commented on #338
Nice. You can also convert this issue to a discussion - there's a button on the right-hand side of the screen.

Argh, yeah I'll have to refactor my code. Thanks for your help.

[2021-12-01 20:07] frangio commented on #338
Sorry about that!

Keeping this open as an issue because I recognize it's a legitimate problem we should solve, and it's going to happen more and more as projects mature.

Eventually the solution is I think to turn this into a Hardhat plugin where compilation is done by Hardhat which already supports multiple versions. We lose some generality by tying to Hardhat but we could add a fallback to some

[2021-12-01 20:11] frangio commented on #336
Can you provide an example NatSpec text that fails to parse?

Are you interested in suggesting a fixed regex?

[2021-12-02 08:40] Vsevo1od opened #339 "Support the documentation of global variables"
You don't longer need to throw a warning (it was added here https://github.com/OpenZeppelin/solidity-docgen/pull/44)
Because NatSpec comments for state variables are now supported by the compiler https://github.com/ethereum/solidity/pull/8532

[2021-12-03 10:17] nksazonov commented on #336
Unfortunately, I don't have enough time to fully explore solidity-docgen code, but as I can see from [here](https://github.com/OpenZeppelin/solidity-docgen/blob/master/src/source.ts#L564), the function iterates for each of the NatSpec tags and, if available (e.g. in _@​param_ and _@​return_), separates _param_ and _description_.
Thus, at first, _param_ and _description_ must be a single string, bu

[2021-12-08 13:13] paulrberg commented on #258
Yes, please. I just stumbled upon Uniswap's [contract.hbs](https://github.com/Uniswap/docs/blob/400e0d7c52cab461218abc00e40120c9606b7678/contract.hbs) template, and it took me a minute to realize that keywords like `visibility` are custom values used by `solidity-docgen` to generate the Markdown report.

[2021-12-08 16:16] paulrberg opened #342 "Support custom errors"
Custom errors cannot be configured to be included in the Markdown report.

When I run solidity-docgen over a contract with lots of custom errors (such as the [BalanceSheet](https://github.com/hifi-finance/hifi/blob/e294d1fdea802795a06dc04e25b9ebb363ba579d/packages/protocol/contracts/core/balanceSheet/BalanceSheetV1.sol#L14-L76)), the custom errors are not included in the output.

[2021-12-08 22:45] frangio commented on #336
Sorry this actually seems to work correctly. This is what I'm doing:

[code]

In the contract.hbs template I have:

[code]

And it correctly generates `xs: list of integers`.

[2021-12-08 22:45] #336 closed

[2021-12-08 22:46] frangio commented on #336
Maybe the error is that you're writing something like `@param xs[] list of integers`?

But I don't think you should include the brackets there.

[2021-12-10 13:34] frangio commented on #342
Thanks for pointing this out! I'd like to fix this, hope I get the time. :pray:

[2021-12-15 10:11] YanLong-111 commented on #322
It seems that it cannot be applied to the version above 0.8.0. When I compile my project, it reminds me: Error: Solidity was unable to compile. contracts/Ownable.sol:3:1: ParserError: Source file requires different compiler version (current compiler is
     0.7.6+commit.7338295f.Emscripten.clang)-note that nightly builds are considered to be strictly less than the released version
     pragma soli

[2021-12-15 18:58] JackBekket commented on #322
@YanLong-111

I suggest you to check your solc compiler version

Note, that global solc version can be different from solc, that you use locally in your repo

I have been required to install some additional package (don't remember its name), which has allowed me to have several versions of solc and switching between them, in order to make solidity-docgen work

[2021-12-15 18:59] JackBekket commented on #322
However, generated docs was look.. let's say it was not in good shape, so I decided to refuse using solidity-docgen after all

[2021-12-15 22:16] asselstine opened #346 "Possible to document structs and enums?"
We'd like to have structs as part of the generated output.  Is this possible?

[2021-12-16 03:33] YanLong-111 commented on #322
@JackBekket
Oh, thank you, I generated the document in an inexplicable situation (it returned me an error message, but still generated the document), but this is not what I want, so I support your point of view, and also thank the developers Work hard, hope it will get better

[2021-12-16 21:44] frangio commented on #322
Closing this as support for 0.8 is there.

If you were unhappy with the output please share! This tool requires a lot of customization currently. Feedback is welcome.

[2021-12-16 21:44] #322 closed

[2021-12-16 21:45] frangio commented on #346
Should be possible. Take a look at this test template: https://github.com/OpenZeppelin/solidity-docgen/blob/master/fixtures/struct-enum/templates/contract.hbs

[2022-01-04 17:07] frangio commented on #301
It seems that if the function declares names for return values (as in `returns (uint a)`) then the NatSpec syntax expects the variable name, otherwise it doesn't.

[2022-01-04 17:21] Pzixel commented on #301
Right, but it still should possible to add comment to function result, even if it's anonymous. It should be then somehing like:
[code]

[2022-01-05 02:02] frangio commented on #301
Yes, I was able to reproduce the behavior implemented by solc.

[2022-01-18 22:35] frangio opened #350 "Rewrite"
solidity-docgen is being rewritten to be simpler and easier to maintain and contribute to. These goals haven't been realized yet mainly because there is pending documentation and the code lacks some explanatory comments, but the point of this rewrite is that there should be a lot less to explain!

The work is mostly done and can be found in the [`rewrite`](https://github.com/OpenZeppelin/solidity-

[2022-01-18 22:48] frangio commented on #342
@paulrberg This is solved in the upcoming rewrite (#350). I'll try it out with the contract that you shared!

Can you share an example of what you'd like the output to look like for errors?

[2022-01-18 22:49] frangio commented on #346
Closing as this is currently supported, shown in the link above.

[2022-01-18 22:49] #346 closed

[2022-01-19 13:50] paulrberg commented on #342
Glad to hear.

Well custom errors are annotated with NatSpec comments, just like any other function. So treating them as functions would be a good solution to start with. The only difference would be that the errors would be placed under another upper header "Custom Errors", and not under "Functions".

To take `BalanceSheet__BorrowMaxBonds` as an example, this is the Markdown output that I would l

[2022-01-26 09:47] vladyan18 commented on #350
[This regex](https://github.com/OpenZeppelin/solidity-docgen/blob/5360608516fe6115f5edf3ef6e04370b3967facf/src/utils/natspec.ts#L114) doesn't clear correctly lines with multiple spaces at the beginning. Like this:

[code]

may be worth replacing it like that:
`.replace(/^[ \t]+/mg, '');`

[2022-01-26 15:20] frangio commented on #350
@vladyan18 The reason I didn't do that is that indentation can be significant. For example if the contents of the comment contain a Solidity example:

[code]

The indentation inside the function would be removed by the regex you suggested.

An alternative would be to find the shortest common whitespace prefix across all lines. In my example it would be a single space, in your example it would be t

[2022-01-26 15:36] vladyan18 commented on #350
@frangio Indeed, your example is correct. Another option would be to use something like `.replace(/^[ \t]?@/mg, '@');`, but it can make a mess.

So it's probably best to really leave it as it is.

[2022-01-26 15:49] vladyan18 commented on #350
@frangio Also, I had a problem when I used `inheritdoc` with public state variables.

[This check ](https://github.com/OpenZeppelin/solidity-docgen/blob/5360608516fe6115f5edf3ef6e04370b3967facf/src/utils/natspec.ts#L89) forbids it.

[2022-01-26 23:54] frangio commented on #350
Thanks. I have a fix for that I'll publish later.

[2022-01-28 02:23] frangio commented on #350
@vladyan18 Just published the full suite of templates in a new beta. If you're testing this, I'd love to know what you think.

[2022-02-07 16:20] drortirosh opened #356 "inheritdoc"
inheritdoc is a great option, but currently need to be written on each item.
is it possible to globally enable inheritdoc ?

[2022-02-07 23:53] frangio commented on #356
Yes. I want to implement this because it's the default Solidity behavior.

Are you using the rewrite that is currently in beta? This would probably be added there only.

[2022-02-08 09:56] drortirosh commented on #356
we actually just started to use the master.
how stable is the rewrite? should we use that ?

[2022-02-19 09:07] sambacha opened #361 "Version 0.6.0-beta.3 not distributed properly, is empty package"
installing `solidity-docgen` with at least 0.6.0-beta.3 does not work

installing `solidity-docgen` version 0.5.16 works

[2022-02-19 23:10] frangio commented on #361
0.6.0-beta.3 is not empty, but it was incorrectly tagged `latest` which has now been reset to 0.5.16.

Sorry about the inconvenience!

[2022-02-19 23:10] #361 closed

[2022-02-20 00:04] sambacha commented on #361
Thank you for quick turnaround! Enjoy your weekend

[2022-03-10 14:12] 7flash opened #364 "ENOTEMPTY"
I am getting this error when trying to install it

<img width="457" alt="image" src="https://user-images.githubusercontent.com/4569866/157679463-853b3198-8741-49c0-8ce0-e052e019dab3.png">

[2022-03-18 09:20] galekseev commented on #338
We've got the same problem. Hardhat plugin will do great for us.

[2022-03-18 17:42] paulrberg commented on #350
Hi @frangio! Great work with this refactor. I upgraded to the `next` version but I got stuck trying to understand how the newer version works. It would be super helpful if there was a migration guide. Specifically my issue is that I don't know how to port my current template:

https://github.com/hifi-finance/hifi/blob/dc748c7ff66d652a00463dc57ea7c0cc12f0b289/templates/contract.hbs

To the newer fo

[2022-03-21 03:15] frangio commented on #350
Hi @paulrberg, glad you've tried it. It's taking me longer than I wanted to finish this new version and work on the documentation including a migration guide, but it's pretty stable by now. To customize the templates you need to set the [templates](https://github.com/OpenZeppelin/solidity-docgen/blob/3d49c311e0e9c6cf77d05507fa4c62c76b0e997e/src/config.ts#L12-L16) parameter in the Hardhat config to

[2022-03-21 04:21] frangio commented on #338
Hardhat plugin is being worked on, see #350.

[2022-03-22 14:26] paulrberg opened #366 "TypeError: Cannot read properties of undefined (reading 'split')"
## Description

I'm getting the following error when running the latest solidity-docgen (the `0.6.0-beta.7` version) in a Hardhat project that uses multiple Solidity compilers:

[code]

Now, to be fair, I'm not 100% sure that it's the multiple compilers that triggers this error, this is just an educated guess. I'm running this in a package in a monorepo, a monorepo in which there are other package

[2022-03-22 17:56] frangio commented on #366
I have trouble reproducing because it needs the various environment variables (e.g. `INFURA_API_KEY`). I can edit the config to remove that but do you have another way to handle that?

[2022-03-23 13:06] paulrberg commented on #366
Well removing the environment variables might trigger some unintended side effects, it'd be best to just add a `.env` file with the values required there.

Here are some dummy values that you could use:

[code]

[2022-04-01 23:11] frangio commented on #366
The issue was due to contracts using Solidity 0.5, which has a different AST structure around documentation. The AST types at [solidity-ast](https://github.com/OpenZeppelin/solidity-ast) only support 0.6 onwards. But anyway it's fixed in the last release.

[2022-04-01 23:11] #366 closed

[2022-04-02 09:11] paulrberg commented on #366
Can confirm that it works now. Thanks!

[2022-04-14 01:01] SvenMeyer opened #370 "error could not determine executable to run"
Can't get it to work. What am I doing wrong ?

[code]

[2022-04-14 01:25] SvenMeyer commented on #370
looks like the README is outdated. Looking here solved the problem :+1:

https://www.npmjs.com/package/solidity-docgen

[2022-04-14 01:25] #370 closed

[2022-04-28 12:32] SvenMeyer opened #376 "special chars are quated and thus not displayed correctly"
Example :+1:

[code]

Result:

### addressMintedBalance

[code]

[2022-05-03 19:57] frangio commented on #376
Does this render incorrectly when the Markdown is rendered?

Should this be unescaped because it's inside a block of code?

https://github.com/OpenZeppelin/solidity-docgen/blob/d7c993b2a9cee46eff4d24e61a76a822f864b691/src/themes/markdown/common.hbs#L4-L6

[2022-05-04 16:07] aelmanaa opened #378 "Docgen task : provide sourcesDir"
Hello and thank you very much for this plugin

A question regarding:

https://github.com/OpenZeppelin/solidity-docgen/blob/d7c993b2a9cee46eff4d24e61a76a822f864b691/src/hardhat/index.ts#L10

can't we provide our own 'sourcesDir' ?  THe default behaviour should be indeed `config.paths.sources` but we should also be able to override it if we want

[2022-05-04 19:45] frangio commented on #378
Can you share the exact use case? I guess it could be possible to select a subdirectory of `config.paths.sources`, but it needs to be a subdirectory because we need Hardhat to compile these sources.

[2022-05-05 07:36] aelmanaa commented on #378
HI @frangio

we have 2 repos:

- One containing the docs
- One containing the smart contracts

I'd like to automatically generate the API reference from the docs repos. I guess I could also write a script to pull the repo, generate the API reference

[2022-05-05 08:49] aelmanaa opened #379 "Private variables and function should not be rendered"
Hello,

Is there a reason why private variables are rendered? Those should be hidden from the API reference. In fact, the users will not interact with anything which is private

[2022-05-13 11:18] d10r commented on #323
From the README it's not clear how to run after installing.
My first guess would have been that there's a binary `solidity-docgen` after installing the package, but there's not.

[2022-05-24 10:29] swtrse opened #380 "hardhat docgen fails with error message "Not an item or item is missing context""
I have an existing hardhat project, that is working fine.
I tried to install solidity-docgen and generate the documentation for my contracts.
When running hardhat docgen i get the error message
[code]
I also tried --show-stack-traces --verbose with no effect.

hardhat: 2.9.5
solc: 0.8.9+commit.e5eed63a.Emscripten.clang
solidity-docgen: ^0.6.0-beta.10

[2022-05-24 19:45] swtrse opened #381 "astNode undefined"
Despite many examples here, in the current version astNode is always undefined.

For example: https://github.com/OpenZeppelin/solidity-docgen/issues/302

[2022-05-27 06:22] swtrse opened #382 "How to format a text as code inside a comment?"
Example:
[code]
got renderted into
[code]
which prevents the text to be displayed correctly. It should be rendert in this case to.
[code]

How can I achieve this?

[2022-05-27 08:33] swtrse opened #383 "npm run docs does not work out of the box after cloning this project"
After cloning this project to my local machine and running
`npm i && npm run docs`
I got the following error
[code]

[2022-05-27 14:05] frangio commented on #380
Please provide a repository to reproduce the problem.

[2022-05-27 14:06] frangio commented on #381
In the new version `astNode` is no longer needed, you can access all node properties directly. I.e. `{{astNode.parameters}}` becomes `{{parameters}}`.

What do you want to do?

[2022-05-27 14:08] swtrse commented on #381
In this case
I want to expand the generated markdown for events to include the information if the parameter is indexed or not.

[2022-05-27 14:12] frangio commented on #382
Fixed in https://github.com/OpenZeppelin/solidity-docgen/commit/bef7a32802945c0a66eabea6d33e223d2f3f6463.

[2022-05-27 14:12] #382 closed

[2022-05-27 14:14] frangio commented on #379
Thank you. Fixed in 70728fb1b185976439da880fabe0c27d287fa81c.

[2022-05-27 14:14] #379 closed

[2022-05-27 14:15] frangio commented on #378
Closing as needing further information.

[2022-05-27 14:15] #378 closed

[2022-05-27 14:18] frangio commented on #356
Implemented inheritdoc by default.

[2022-05-27 14:18] #356 closed

[2022-05-27 14:18] frangio commented on #376
Fixed in cd714f5d0f48f934b5b03bcdea35dcb8f4a0cbac.

[2022-05-27 14:18] #376 closed

[2022-05-27 14:26] frangio commented on #381
Ok I see. I've just published a new release that should allow you to write something like this for events:

[code]

All other properties of [VariableDeclaration](https://solidity-ast.netlify.app/interfaces/variabledeclaration) are available inside `{{#each params}}` as well.

[2022-05-27 14:27] #381 closed

[2022-05-27 14:27] frangio commented on #383
Docs for this project are not set up yet.

[2022-05-27 15:24] mehtaculous opened #384 "Export docs into respective files"
Is it possible to configure the generator to export the docs into separate files based on the contract names?

Currently it just exports everything into a single file called `index.md` when running `npx hardhat docgen`

[2022-05-27 17:43] frangio commented on #384
Yes, you can can try `pages: 'items'` or `pages: 'files'` in the config. Result will differ depending on whether you have multiple items in each file.

So in hardhat.config.js/ts you should add:
[code]

[2022-05-27 17:43] #384 closed

[2022-05-27 17:55] mehtaculous commented on #384
`pages: 'files'` is exactly what I was looking for and worked like a charm. thanks for the help and quick response ser

on a side note, is there a place I can see all the options for hardhat config? couldn't seem to find it anywhere..

[2022-05-27 18:03] frangio commented on #384
Yeah: [here](https://github.com/OpenZeppelin/solidity-docgen/blob/master/src/config.ts). Link is at the bottom of the readme as well.

[2022-05-27 18:11] #383 closed

[2022-05-27 18:31] mehtaculous commented on #384
ahhh didn't realize that was for hardhat..thank you!

sorry but ran into a minor issue..seems that `docgen` is generating library contracts (ie OpenZeppelin) with the `.sol` extension instead of `.md`. is this normal behavior?

[2022-05-27 18:48] swtrse commented on #381
Working like a charm. thx

[2022-05-27 18:54] swtrse commented on #380
Unfortunately it is not a public repository.
But I sorted it out.
I copied all contracts away and added them bit by bit.
Mysteriously the error did not show again, so I suspect maybe a caching problem.

[2022-05-27 18:54] #380 closed

[2022-05-27 18:57] swtrse commented on #383
thx for the clarification

[2022-05-27 18:57] frangio commented on #384
No, I think there was a bug. Just published a fix.

[2022-05-27 19:03] swtrse commented on #382
Perfect.
It's working and even links to an anchor work fine.

[2022-05-27 19:10] swtrse opened #385 "Adding documentation of Interface to Contract documentation"
Hi, again :)

I have a case of a contract with an interface.

The interface defines an event.
The event in the interface is documented and shown in the created documentation.
Documentation is set to create an md file for every sol file.

The md-file for the contract does not list the events.
Since evens can not be overridden in the contracts i can not use inheritdoc.
Is there a way to use inheritd

[2022-05-27 21:41] frangio commented on #385
Yes, this kind of use case is where you should get into writing helpers. You can implement a helper that given a contract finds all of its parents and extracts all inherited events.

[2022-05-27 23:09] frangio commented on #385
Here's a way which you could get what you want.

**hardhat.config.js**
[code]

**docgen/helpers.js**
[code]

**docgen/contract.hbs**
[code]

I realize it should be a little easier but I'm learning from this, still figuring out how to best enable this kind of customization, which I think is really important.

[2022-05-28 11:37] swtrse commented on #385
That works thx you are a lifesaver.

I can not speak for typescript/javascript but what I would do in C# create a class that has all the properties used in the hbs files (items, parameters, functions, ...). I would use this class with an injection framework in my project and made it the default class in the configuration if nothing eles is configured. I would then allow users to override the class

[2022-05-29 11:08] #385 closed

[2022-05-30 09:50] swtrse commented on #385
@frangio One last thing since I prefer typescript over javascript I played a bit to create a minimal typescript version for the helper.
I could not find any location where eq would be called so I skipt the implementation the helpers.ts I came up with looks like
[code]

[2022-05-30 13:18] frangio commented on #385
`eq` is called in `{{#unless (eq nodeType "EventDefinition")}}` in the template I shared above!

That's great that you were able to set it up TypeScript though!

[2022-06-02 04:51] htadashi opened #387 "Bug: Using unicode may cause some code after the comments to be rendered"
Usage of the unicode '⇌' seems to break OpenZeppelin docs. For each ⇌ introduced, more characters from outside the comments are included (e.g. "/ contract CrossCha" in the figure below).

![image](https://user-images.githubusercontent.com/2355491/171496092-c575f725-2739-4370-9301-0810de2e3d53.png)
(From https://docs.openzeppelin.com/contracts/4.x/api/crosschain#CrossChainEnabledAMB)

**How to repr

[2022-06-09 18:21] chand1012 opened #388 "Repeated documentation"
I'm trying to get my (relatively complicated) project documented using our inline documentation, but I keep getting duplicated documentation throughout. I'm using all default settings, except for I'm using the `"pages"` generation pattern so that each of my solidity files have a separate markdown file. Here is an example of a simple file.

[code]

And here is the output.

    # Solidity API

    #

[2022-06-10 21:09] frangio commented on #387
Thanks @htadashi. The problem is that the Solidity AST uses byte indices and we're using those as if they were character indices and this fails for multi-byte characters.

Fixed in a52917237eed6cd7ad1fea5a280596bcfe43405e for 0.5 and ba4868bc3dea537768f690c3e84e29903bdc6f15 for 0.6.

[2022-06-10 21:09] #387 closed

[2022-06-11 22:12] leovct opened #389 "Cannot find module 'solidity-docgen'"
Hi, I'm facing an issue when I try to execute `solidity-docgen` v0.5.16 with hardhat.
[code]

I also see the same error in `hardhat.config.ts`
![Screenshot 2022-06-12 at 00 11 10](https://user-images.githubusercontent.com/28714795/173206503-739c42c5-f806-407f-a0bc-01de93ad04b7.png)

[2022-06-12 08:32] htadashi commented on #387
@frangio Thanks for the fix and the explanation. I always learn something from your commits :)

[2022-06-14 19:38] frangio commented on #389
solidity-docgen 0.5.16 is not a Hardhat plugin. Please use 0.6.

[2022-06-15 03:47] PedroReyes opened #390 "docgen usage"
Hello,

📗 Versions
I have installed hardhat: `npm install --save-dev hardhat`

I have installed solidity doc-gen: `"solidity-docgen": "v0.6.0-beta.16"`

[code]

🔨 Setup
My `hardhat.config.js` file contains the next:
[code]

❌Problem
When executing `npx hardhat docgen`, the execution is the one for creating a project instead of creating any documentation:

[code]

I have followed the README that ca

[2022-06-15 19:01] frangio commented on #390
Can you try replacing `import "solidity-docgen";` with `require('solidity-docgen');` ?

[2022-06-15 19:07] frangio commented on #390
The behavior you describe is very strange. I was not able to reproduce it. If my suggestion above doesn't change anything please upload a minimal reproduction.

[2022-06-16 02:33] PedroReyes commented on #390
Hello @frangio ,

By replacing `import "solidity-docgen";` with `require('solidity-docgen');` I obtain the next result:

[code]
However, where is the documentation generated?

The changes I got are artifacts and ABI json files:

![image](https://user-images.githubusercontent.com/4096108/173977879-1cacfa9f-d2c2-401f-a0b1-cca0bc4aa59a.png)

Best regards,
Pedro Reyes.

[2022-06-16 05:07] frangio commented on #390
Should be generated into `docs`.

[2022-06-16 13:05] PedroReyes commented on #390
Hello @frangio ,

You are right, a `index.md` file is generated within the `docs` folder.

❌ Problem

However, the content of this `index.md` file is the next one:

[code]

I have a `Vault.sol`. The content of it is something like this:

[code]

✅ Expected result
I guess the result for that `index.md` file should be a compound of all my comments following the NatSpec documentation standard.

Thank

[2022-06-17 19:14] frangio commented on #390
Is `Vault.sol` inside the `contracts` directory? Please make sure you have a basic understanding of how Hardhat is used before attempting to use this plugin.

[2022-06-18 19:43] PedroReyes commented on #390
Hello @frangio ,

Yes, the `Vault.sol` contract is indeed within the `contracts` directory.

![image](https://user-images.githubusercontent.com/4096108/174454918-229b6d9e-531f-42e9-9fab-3495505cf4d4.png)

[2022-06-18 21:48] frangio commented on #390
I will need you to provide a way for me to reproduce the problem.

[2022-06-19 15:35] PedroReyes commented on #390
Hello @frangio ,

I have created this public repository so you can check yourself: https://github.com/PedroReyes/ethernaut/tree/docgen

Best regards,
Pedro Reyes

[2022-06-19 17:22] frangio commented on #390
I run `hardhat docgen` in your repository and the documentation gets generated there as expected.

I did notice that `docs/index.md` includes the docs for dependencies so I published a new version that fixes this.

[2022-06-19 17:22] #390 closed

[2022-06-20 15:45] PedroReyes commented on #390
Hello @frangio ,

Can you send me what generates for you? What I get is an empty file containing just the next info

[code]

best regards,
Pedro Reyes.

[2022-06-21 15:14] PedroReyes opened #391 "docgen usage - empty doc file"
Hello @frangio ,

I am following this issue you closed here: https://github.com/OpenZeppelin/solidity-docgen/issues/390. The problem persists with an empty `index.md` file

[code]

👉 Video showing how I get an empty `index.md` documentation file

https://user-images.githubusercontent.com/4096108/174690882-1f4471bc-a591-46ac-a2b5-21537cd26700.mp4

Could you help me? You said you got it working on y

[2022-06-23 15:23] frangio commented on #391
Can you please sharethe contents of `artifacts/build-info`? I think this is related to Windows.

[2022-06-23 15:46] frangio commented on #388
Sorry I'm just getting around to this.

I can't reproduce the issue locally with the information you share. If I have a file with the interface it generates docs without duplicates. Can you share a repository where I could reproduce it?

[2022-06-25 00:10] mfigurski80 opened #393 "Input undefined -- library use case for Truffle"
Trying to get solidity-docgen (installed from npm, specified as '^0.6.0-beta.17' in package.json) to compile files for me, without transitioning from Truffle to Hardhat, by using the following script:
[code]

Note that the CurrencyManager.json file is the json output after truffle compiled -- it does have an 'ast' field present, as indicated by the readme. To my understanding, this this script is

[2022-06-25 01:16] frangio commented on #393
Hardhat isn't required, this library just needs the output from solc, the compiler. The JSON file that you mention doesn't contain this full output, it's just a subset of it, so it won't be enough. Truffle doesn't expose the full output from the compiler so it won't be possible to use it out of the box.

[2022-06-27 11:47] wei3erHase opened #394 "Add a way to exclude / ignore folders from being documented"
A hardhat repo can have many contracts that need to be compiled, but not documented, for instance `ForTest` contracts, where having a documentation would seem unnecessary:
A repo can have the following structure
- solidity
    - contracts
        - for-test
    - interfaces

The issue is to provide a way of ignoring the `for-test` folder, so that documentation is only generated from `contracts` an

[2022-06-28 23:05] Pedroa0710 commented on #394
I never did this before I don't know how,pleass help me with this

[2022-07-01 12:37] PedroReyes commented on #391
Hello @frangio ,

Any news?

Best regards,
Pedro Reyes.

[2022-07-05 18:49] frangio commented on #394
Added `exclude` to the configuration options.

https://github.com/OpenZeppelin/solidity-docgen/blob/c8ab3716589fe650b33755414951cd68e47a73f0/src/config.ts#L37-L40

[code]

[2022-07-05 18:49] #394 closed

[2022-07-05 18:50] frangio commented on #394
The directory structure you shared looks odd. Why is `interfaces` outside of `contracts`?

[2022-07-05 18:51] frangio commented on #391
Please try the latest version. I made some changes that may fix this, which is an issue with Windows.

[2022-07-05 18:53] wei3erHase commented on #394
found that is a good practise to keep paths similar on `for-test` contracts

[2022-07-06 10:16] segfaultxavi opened #397 "Windows support"
I am getting this error when running `yarn hardhat docgen`:

[code]

This is on Windows. The exact same configuration on WSL (Ubuntu) worked just fine.
A partner has the same issue, so if it's a configuration problem on our side, it's already in [our repo](https://gitlab.com/flarenetwork/flare-smart-contracts).

Node v16.15.1
Yarn 1.22.19
Hardhat 2.3.0
solidity-docgen 0.6.0-beta.18

[2022-07-06 12:42] PedroReyes commented on #391
Hello @frangio ,

We keep having progress but not yet solved unfortunately. Here it is the output:

[code]

Path problem - zoom in `C:\blockchain\ethernaut\node_modules\solidity-docgen\src\themes\markdown\helpers`

![image](https://user-images.githubusercontent.com/4096108/177552388-9ea69ae3-d2e1-4dd8-a024-d269a2626646.png)

Let me know if you need anything from my side. I am available for zoom to

[2022-07-07 17:22] segfaultxavi commented on #397
I just did a quick test run of 0.6.0-beta.19. Now the error is:
[code]
I'd say that path does not look correct... it's duplicated :)

The config is:
[code]
The folder docgen does not exists. I've tried with an already-existing folder but I get the same error.

Thanks a lot for looking into this so quickly! You've got some serious SLA running here :)

[2022-07-07 23:00] PedroReyes commented on #391
Hello @frangio ,

Current output with tag `"solidity-docgen": "v0.6.0-beta.19"`:

[code]

Best regards,
Pedro Reyes

[2022-07-08 19:03] frangio commented on #397
@segfaultxavi Please try with the latest version.

[2022-07-08 19:03] frangio commented on #391
Ok, identified that issue. Please give it another try. Sorry about the back and forth.

[2022-07-09 18:17] PedroReyes commented on #391
Hello @frangio ,

Don't worry about the back and forth ✌ it is part of the game!

Problem solved. Thanks for your support, @frangio ! 🎉🎉🎉 Have a nice weekend!

Best regards,
Pedro Reyes.

![image](https://user-images.githubusercontent.com/4096108/178118110-c93d1a9c-a780-4249-92c1-1b098f348183.png)

[2022-07-09 18:17] #391 closed

[2022-07-09 20:04] frangio commented on #397
Windows support seems ok according to #391.

[2022-07-09 20:04] #397 closed

[2022-07-10 03:15] PedroReyes opened #398 "docgen as a library with hardhat"
Hello @frangio ,

👁 Context
I am trying to use docgen as a library in order to update automatically the docs as part of a husky process that runs before a git commit

💻 System setup
* OS: `Windows 10`
* node: `v18.2.0`
* npm `8.9.0`
* solidity-docgen: `0.6.0-beta.20`

🔁 Reproduction
Repository: https://github.com/PedroReyes/ethernaut/blob/docgen/husky/docgen.mjs

I have commented the code that is

[2022-07-11 06:15] segfaultxavi commented on #397
Seems to be working fine for me too. Thanks a lot! Great work!

[2022-07-11 21:16] frangio commented on #398
If this is a Hardhat project my recommendation is to use it through Hardhat as `hre.run('docgen')` (`import hre from 'hardhat'`). Does this work for you?

[2022-07-12 15:50] PedroReyes commented on #398
Hello @frangio ,

No, it does not work. The output is the next one:

[code]

I have an empty `docgen:{}` json key in the last commit here: https://github.com/PedroReyes/ethernaut/commits/docgen. Shall I add something to the `hardhat.config.json` here:

[code]

Best regards,
Pedro Reyes.

[2022-07-13 20:10] frangio commented on #398
Ok I can see what the error is. In the meantime, please use `require("solidity-docgen/hardhat")` instead of `require("solidity-docgen")` in your config file.

[2022-07-13 20:39] frangio commented on #398
Sorry I just realized why this is happening. You're importing `solidity-docgen` before you import `hardhat`. Change it like this:

[code]

[2022-07-13 20:40] #398 closed

[2022-07-13 20:50] frangio commented on #398
I released a fix so this works even without the suggestion I made above. https://github.com/OpenZeppelin/solidity-docgen/commit/9f99e6a8ea67053182512e9edabc500adb8db893

[2022-07-16 21:20] PedroReyes opened #399 "docgen - working with templates"
Hello,

👁 Context
I am trying to see the possibility of creating my own template. For that I have taken this from another issue in the backlog: https://github.com/PedroReyes/ethernaut/tree/docgen/contracts/templates.

💻 System setup

OS: Windows 10
node: v14.18.1
npm 6.14.15
solidity-docgen: 0.6.0-beta.20

🔁 Reproduction
Repository: https://github.com/PedroReyes/ethernaut/blob/docgen/husky/docgen.

[2022-07-19 13:36] frangio commented on #399
This shouldn't happen but as a workaround you can create an empty `helpers.js` file in your templates directory.

[2022-07-21 17:36] frangio commented on #399
The `helpers.js` issue is fixed.

[2022-07-21 17:36] #399 closed

[2022-07-23 18:57] PedroReyes opened #402 "docgen - working with templates - solidity-docgen: 0.6.0-beta.22"
Hello,

👁 Context
I am trying to see the possibility of creating my own template. For that I have taken this from another issue in the backlog: https://github.com/PedroReyes/ethernaut/tree/docgen/contracts/templates.

I have also applied the last version `solidity-docgen: 0.6.0-beta.22` that fixed the last issue I opened here: https://github.com/OpenZeppelin/solidity-docgen/issues/399

💻 System se

[2022-07-24 15:39] frangio commented on #402
The tempalte you used is designed for solidity-docgen 0.5. See [this directory](https://github.com/OpenZeppelin/solidity-docgen/tree/master/src/themes/markdown) for current template examples.

[2022-07-26 21:42] PedroReyes opened #403 "docgen - working with templates - solidity-docgen: 0.6.0-beta.22"
Hello,

## 👁 Context
I am trying to see the possibility of creating my own template.

I have applied the last version `solidity-docgen: 0.6.0-beta.22` that fixed the last issue I opened here: https://github.com/OpenZeppelin/solidity-docgen/issues/402

I checked [this directory looking for examples](https://github.com/OpenZeppelin/solidity-docgen/tree/master/src/themes/markdown)

## 💻 System setup

[2022-08-04 23:07] #402 closed

[2022-08-10 13:42] frangio commented on #403
You should override the [`page.hbs`](https://github.com/OpenZeppelin/solidity-docgen/blob/master/src/themes/markdown/page.hbs) template.

[2022-08-10 13:42] #403 closed

[2022-08-12 16:11] TomiOhl commented on #388
This is a tricky issue. I currently ran into it for the second time.
First I got it with the hardhat sample project (that I got by creating a new project from terminal). I only modified the Greeter contract slightly. I got rid of it by making a copy of that file - that didn't have the issue for some reason - and deleting the old one.
Now I had it in [agoraxyz/guild-gated-contracts](https://github.

[2022-08-16 19:32] RauppRafael commented on #380
For anyone else experiencing this issue, delete your `artifacts` and `cache` folders and re-run the command.

[2022-08-24 18:20] adamiak commented on #388
I can confirm exactly the same issue (repeated documentation in the same file, although the second copy contains older changes). Removing 'artifacts' and 'cache' folders solves it temporarily (until they appear again).

[2022-08-29 19:38] cartercarlson opened #406 "Error from handlebars"
I am unable to run `npx hardhat docgen` after a fresh `npm install solidity-docgen`.  The error I'm getting is:
[code]

I've gone through the handlebars source code and haven't found anything that references to `joinLines` and have solidity v0.8.9.

[2022-08-29 19:48] cartercarlson commented on #406
I have changed no settings on the hardhat `config`.

[2022-08-29 20:21] frangio commented on #406
Thanks for the issue. Should be fixed in b130fd95225802f15f34c9cd00d161b1f0987ec9. Please try again.

[2022-08-29 20:21] #406 closed

[2022-08-29 21:37] cartercarlson commented on #406
New error @frangio :
[code]

[2022-08-29 22:28] cartercarlson opened #407 "Circular dependency"
New error @frangio :
[code]

_Originally posted by @cartercarlson in https://github.com/OpenZeppelin/solidity-docgen/issues/406#issuecomment-1230888961_

[2022-08-30 03:59] frangio commented on #407
Thanks for reporting. This is a separate issue that is caused by lack of support for circular dependencies in Solidity files when aliased imports are used (`import { A as B } from './A.sol'`). I have an idea for how to add support, but as a workaround you can either remove the circular dependencies or the aliasing.

If you are not using that syntax let me know because the error would be something

[2022-08-30 04:14] frangio commented on #407
Ok the circular dependencies issue should be fixed in latest by https://github.com/OpenZeppelin/solidity-docgen/commit/a1215b65d38483296b5c98f86f8e8fff529edcd3. Let me know if that fixed it for you.

[2022-08-30 04:14] #407 closed

[2022-09-02 12:35] Nazeim opened #408 "Not generating good content for params and returns"
@frangio

I used the tool to generate md files from sol files but I'd say it's mostly missing a description of what's what: which ones are parameters (@param), which is the return value (@return) and which are just extra observations for developers (in this case, @dev). In particular I found it hard to distinguish the tables there (looking at the code, the 1st one is the input parameter, while the

[2022-09-02 23:03] frangio commented on #408
This is generated using this template: https://github.com/OpenZeppelin/solidity-docgen/blob/a7b9b8c280bcce3e4409c8f1a6d3172e33815bdb/src/themes/markdown/common.hbs

You can customize the output by adding to your Hardhat config:
[code]

Then copying the `common.hbs` file into a directory `docs-templates` on your project, and customizing it how you want.

[2022-09-20 07:58] kyzooghost opened #409 "`npx solidity-docgen` fails with mysterious error if too many lines of code (including comments) in /contracts contents"
**Bug:** Attempted to run`npx solidity-docgen --solc-module solc-0.8` on /contract directory containing 179 .sol files, got the following error:

[code]

A colleague got the following error on their local:

[code]

**Details:**
Was frustrated by this mysterious bug with no stack trace to look into. Initially thought there was a line of code in .sol files causing this error. However I found that ev

[2022-09-20 22:57] frangio commented on #409
Is there a change you can share the code?

What version of `solidity-docgen` are you using?

[2022-09-21 06:05] kyzooghost commented on #409
This for version ^0.5.16 from the root directory of the following repo: https://github.com/solace-fi/solace-core/tree/feat/Bribes

[2022-09-21 06:50] kyzooghost opened #410 "`Expected @return tag to start with name ...`"
Using solidity-docgen 0.6.0-beta.26, when attempting `npx hardhat docgen` command for .sol file containing the following

[code]

The command will error with `Error: Expected @return tag to start with name 'weight'`

I've found that the error will be avoided with a few extra characters on the same line after `@return number`, but it can be frustrating to need to add a short comment after each @ret

[2022-09-21 15:54] frangio commented on #410
There was a difference between solc and the plugin's expected NatSpec format. `@param` requires a description but `@return` doesn't, the plugin was treating both the same.

Should be fixed on latest.

[2022-09-21 15:54] #410 closed

[2022-09-21 15:56] frangio commented on #409
Version 0.5 is not actively supported anymore. Let me know if 0.6 is not viable for this project and I can help fix that.

[2022-09-21 15:56] #409 closed

[2022-09-22 22:20] frangio commented on #388
This should be fixed on the latest version!

[2022-09-26 14:25] frangio commented on #408
Fixed in https://github.com/OpenZeppelin/solidity-docgen/commit/6460a1e8e0e3546ac7c5e8fe3ef493544f8e22fe and published in the latest release.

[2022-09-26 14:25] #408 closed

[2022-10-01 17:30] ngurmen opened #413 "Documentation of Events work in interfaces but Structs and Enums are not working"
Hi, great work.  We started using solidity-docgen in documenting our code.  The Events are processed nicely in an interface file but for Structs and Enums docgen only generates the code block that shows the Struct or Enum but does not include @notice and @dev tags.  Also, we couldn't access structs and enums separately.  They are all lumped into types.

It would be great to have the following feat

[2022-10-01 19:37] frangio commented on #413
Hi @ngurmen, thanks for the kind words.

What version of Solidity is the codebase using?

[2022-10-01 19:45] frangio commented on #413
Yes, but in the meantime you can simply filter the `types` array like this:

[code]

[2022-10-01 19:49] frangio commented on #413
Yes, but you can also do this with configuration.

If you've configured a templates directory `docgen: { templates: 'docs-templates' }` you can create a file `docs-templates/properties.js` with this content:

[code]

Please try this and let me know if it works.

[2022-10-02 22:18] ngurmen commented on #413
@frangio hello.  Thanks you for your support.

For `@notice` and `@dev` tags of structs and enums, we will need to wait for them to be included by solc, I guess...

As for structs and enums' availability in theme templates, adding those functions to the properties.ts worked beautifully.  Instead of JS version I used the TS one as follows:

[code]

Lint complains that `types` is not available on `D

[2022-10-06 01:26] #413 closed

[2022-10-06 03:01] frangio commented on #413
Can you share the template or code you're using for this? I'm sure there's a nicer way.

Hm, that sounds like it should work. If there's a repo you can share I can take a look.

[2022-10-06 17:45] frangio commented on #413
I see what you mean now. In `properties.ts` you can't add parameters. Perhaps you could improve it by adding a helper in `helpers.ts`, since those do take parameters.

Odd that you weren't able to get `eq` working. I would expect that it would work by adding `export const eq = (a, b) => a === b` in `helpers.ts`.

[2022-10-11 17:37] ngurmen commented on #413
@frangio, the way I implemented eliminated the need for eq for now.  When the need arises I will sure to try this again in helpers.ts with parentheses.  thanks.

By the way, not finding a simple doc tags helper plugin for solidity in VS Code.  I coded a very simple, no-frills extension for our internal usage.  If solidity-docgen users may find it useful here it is:

https://github.com/Dexalot/vsco

[2022-10-13 09:40] theodale opened #414 "Natspec-only docs"
Could we have an config option to only generate docs for items with natspec documentation, i.e. contracts, interfaces, libraries, functions, and events. I comment all these accordingly, but often have uncommented internal/private items. As such, the generated docs have many redundant entries. It would be nice to have a natspec only option.

[2022-10-17 04:39] GopherJ opened #415 "TypeError: importedScope[a.foreign.name] is not a function"
we encountered this issue in https://github.com/para-space/paraspace-core
![image](https://user-images.githubusercontent.com/33961674/196090573-ac2c62a0-b85e-415e-b391-d0a85f9d5c0e.png)

[2022-10-28 09:58] nksazonov opened #418 "How to create typescript helpers"
Afternoon!

I have stumbled upon some difficulties creating helpers in typescript for handlebars. Hope you will be able to help.

**Why**: I need to create some typescript handlebars helper to use inside `contract.hbs`.

**Error**: When running `solidity-docgen` I get this error: `SyntaxError: Unexpected token 'export'`.

**Expected**: working helper.

**`helpers.ts`**:

[code]

**`solidity-docgen

[2022-10-29 00:05] frangio commented on #418
What version of solidity-docgen do you have installed?

[2022-10-29 01:04] d1onys1us opened #419 "Exclude directories does not actually exclude docs from being generated"
## Description of problem
Here is the configuration within `hardhat.config.ts`:
[code]

I have a folder `test`, in my contracts src directory. I have tried many patterns such as `test`, `./test/`, `**/test/**`,`test/**/*`, etc. None of them seem to work. My `templates` directory is just a copy of the `templates/markdown` directory in this repo, because I wasn't sure how else to override the defaul

[2022-10-31 11:05] nksazonov commented on #418
latest, 0.5.16

[2022-11-01 11:54] wighawag commented on #87
@frangio There is no helper `eq` registered it seems

[2022-11-02 23:24] frangio commented on #418
0.5 doesn't support TypeScript helpers and is no longer actively maintained. You can use 0.6. Keep in mind that it's used differently (it's a Hardhat plugin) see the readme.

[2022-11-02 23:24] #418 closed

[2022-11-02 23:26] frangio commented on #414
This is an interesting idea. You should be able to implement it in solidity-docgen 0.6 with a custom template that renders conditionally if `item.documentation` is defined.

[2022-11-02 23:41] frangio commented on #419
I can't reproduce this. `exclude: ['./test']` should work. Are you deleting the directory and it gets regenerated? If so, please share your repo so I can try it out.

`elin` might be something you had previously... you should try `hardhat clean` and then generate docs again.

`console.md` is odd, it may also be the above. Are you using the latest 0.6 version?

[2022-11-11 14:22] leovigna commented on #415
Had the same issue. Debugged this manually by ignoring files to isolate what file was causing the issue. Source code mentioned "// Delayed function call supports circular dependencies" but it seems the issue was stemming from `@inheritdoc` doc statements in an abstract contract.

When I had `GrandChild -> Child -> Parent` dependency with a `@inheritdoc Child` in the GrandChild contract, it worked

[2022-11-11 23:12] frangio commented on #415
Can you share the full source code that reproduces the issue?

[2022-11-13 06:56] mwawrusch opened #420 "Error: Item does not contain return parameters should point to source line"
The following is an output from running docgen. Would be helpful to have information which line and source filed casued it.

Error: Item does not contain return parameters
[code]

[2022-11-13 07:18] mwawrusch opened #421 "What's the easiest way to replace # Solidity API with the actual filename"
We use docusaurus and that takes by default the title of the markdown as the sidebar header for that item.

[2022-11-14 16:31] frangio opened #422 "Add generic substitute helper"
`{{sub value pattern replace}}`, interpreting `pattern` as a regular expression.

[2022-11-14 16:33] frangio commented on #421
Create a directory `docgen-templates` and configure the plugin with `docgen: { templates: 'docgen-templates' }` in the Hardhat config.

Create a file in this directory called `page.hbs` with the following contents:

[code]

(Note: This is just [the default](https://github.com/OpenZeppelin/solidity-docgen/blob/master/src/themes/markdown/page.hbs) with a different title.)

`{{id}}` will render the f

[2022-11-14 16:52] mwawrusch commented on #421
awesome, thank you

[2022-11-15 03:42] frangio commented on #420
I added source location in the error message in the latest version, but I haven't been able to test it because these errors are supposed to be unreachable. :slightly_smiling_face:

Please try it now and let me know what piece of code is causing it.

[2022-11-24 23:49] frangio commented on #333
@miltonjonat This is currently supported in the 0.6 release.

[2022-11-24 23:49] #333 closed

[2022-11-25 11:34] miltonjonat commented on #333
Ok @frangio thanks! Is there any open issue covering having NatSpec comments showing up in structs?

[2022-11-29 19:32] CarterAppleton commented on #415
We're also experiencing this, you can repro on this commit of goldfinch-eng/mono

https://github.com/goldfinch-eng/mono/tree/4ffb02ed3363fd658eb144b52e59340e44e0e104

it's a monorepo so installation has some steps
- make sure python is installed (I use 2.7.18 to build)
- run `npx lerna bootstrap` at the repo root to set up all packages
- cd into `packages/docs`
- run `npm run build-contract-docs`

[2022-11-29 20:49] frangio commented on #415
Thanks. There was an error when using the syntax `import {E} from ...` and the imported symbols were not contracts (e.g. custom errors). This should be fixed in the latest version.

[2022-11-29 20:49] #415 closed

[2022-11-30 09:47] vrde opened #424 "`@title` and multiline `@dev` doc issues"
:wave: hey I'm quite new to this library. I have a couple of issues, one with `@title` and the other one with `@dev`, they are both summarized by the following example:

Input:

[code]

Output:

[code]

First: where is `@title` rendered?

Second: how do I create a `@dev` comment that spreads across multiple lines without using `_`? The `@dev` tag works correctly (multilines are maintained, great!)

[2022-11-30 19:52] frangio commented on #424
Both questions relate to the default template:

1. It doesn't show the NatSpec title.
2. It prints `@dev` tag contents in italics (therefore the underscores).

You can change both of these by creating a directory `docgen-templates` and adding to your Hardhat config: `docgen: { templates: 'docgen-templates' }`, then copying the default [`common.hbs`](https://github.com/OpenZeppelin/solidity-docgen/

[2022-11-30 19:52] #424 closed